<div class="qf-grab-me row qf-hidden-component-mode qf-hidden-view-mode">
 <div class="qf-handle-title">
  <p class="qf-truncate">
   Checkbox
  </p>
 </div>
 <div class="qf-actions">
  <md-button ng-click="openComponentSettings(item)"
             class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <i class="fa fa-cog"></i>
  </md-button>
  <md-button ng-click="duplicateComponent(item)" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <i class="fa fa-copy"></i>
  </md-button>
  <md-button ng-click="removeComponent(item)" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <i class="text-danger fa fa-trash"></i>
  </md-button>
 </div>
</div>
<div class="form-group qf-component-use qf-hidden-component-mode">
 <label for="{{component.formName + index}}" class="qf-hidden-design-mode col-lg-12 col-md-12 col-sm-12 col-xs-12 control-label"
        ng-class="{'qf-required':component.required}">
  {{component.label}}
 </label>
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <input type="text" ng-model="component.label"
         class="form-control qf-label qf-hidden-view-mode" placeholder="Label">
  <input type='hidden' ng-model="component.inputText" validator-required="{{component.required}}" validator-group="{{component.formName}}" />
  <div ng-if="false" class='checkbox' ng-repeat="option in component.options track by $index">
   <label>
    <input type='checkbox' ng-model="component.$parent.inputArray[$index]" value='option' />
    {{option}}
   </label>
  </div>
  <form class="qf-add-option-form qf-hidden-view-mode" ng-submit="addOption()">
   <input class="form-control qf-hidden-view-mode" ng-model="listData.newListItem" type='text' placeholder="Add Option" />
  </form>
  <ul ui-sortable="sortableOptions" ng-model="component.options"
      class="checkbox qf-option-sortable">
   <li ng-repeat="option in component.options track by $index">
    <label class="">
     <input class="" ng-model="component.$parent.inputText" validator-group="{{component.formName}}" value='option' type='checkbox' />
     <span class="qf-hidden-design-mode">
      {{option}}
     </span>
    </label>
    <div class="qf-sortable-drag-me qf-hidden-view-mode">
     <i class="fa fa-sort"></i>
    </div>
    <div class="qf-option-input">
     <input  class="form-control qf-hidden-view-mode" ng-model="option"
             type='text' /> <div ng-click="removeOption(option)"
             class="qf-sortable-delete qf-hidden-view-mode pull-right">
      <i class="fa fa-trash"></i>
     </div>
    </div>
    <div ng-click="removeOption(option)"
         class="qf-sortable-delete qf-hidden-view-mode">
     <i class="fa fa-trash"></i>
    </div>
   </li>
  </ul>
  <p class='help-block qf-hidden-design-mode'>
   {{component.description}}
  </p>
  <input type="text" ng-model="component.description"
         class="form-control qf-help-block qf-label qf-hidden-view-mode" placeholder="Help Block">
  <div class="checkbox qf-hidden-view-mode qf-required-checkbox">
   <label>
    <input type='checkbox' ng-model="component.required" />
    Required
   </label>
  </div>
 </div>
</div>
<div class="qf-component-display qf-hidden-design-mode qf-hidden-view-mode">
 <img src="qfretouch/img/checkbox.png" alt="Check Box" tooltip-class="qf-tooltip-1"
      tooltip-placement="right" uib-tooltip="Check Box"  tooltip-popup-delay="500"/>
 <div class="qf-control-heading">
  Check Box
 </div>
</div>