<p class="input-group">
 <input type="text" ng-model="inputText" validator-required="{{required}}" validator-group="{{formName}}" id="{{formName + index}}"
        class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
 <span class="input-group-btn">
  <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
 </span>
</p>