<div class="qf-grab-me row qf-hidden-component-mode qf-hidden-view-mode">
 <div class="qf-handle-title">
  <p class="qf-truncate">
   Paragraph
  </p>
 </div>
 <div class="qf-actions">
  <md-button ng-click="openComponentSettings(item)"
             class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <i class="fa fa-cog"></i>
  </md-button>
  <md-button ng-click="duplicateComponent(item)" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <i class="fa fa-copy"></i>
  </md-button>
  <md-button ng-click="removeComponent(item)" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <i class="text-danger fa fa-trash"></i>
  </md-button>
 </div>
</div>
<div class="form-group qf-component-use qf-hidden-component-mode">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <textarea ng-model="component.inputText"
            validator-required="{{component.required}}"
            validator-group="{{component.formName}}"
            id="{{component.formName + index}}"
            class="form-control qf-paragraph qf-hidden-view-mode" rows='{{component.rows}}'
            ng-style="component.componentStyles.component1"
            placeholder="Type your paragraph"></textarea>
  <p ng-style="component.componentStyles.component1"
     class="qf-paragraph-text qf-hidden-design-mode">{{component.inputText}}</p>
 </div>
</div>
<div class="qf-component-display qf-hidden-design-mode qf-hidden-view-mode">
 <img src="qfretouch/img/paragraph.png" alt="paragraph" tooltip-class="qf-tooltip-1"
      tooltip-placement="right" uib-tooltip="Paragraph"  tooltip-popup-delay="500"/>
 <div class="qf-control-heading">
  Paragraph
 </div>
</div>