
<div class="form-group qf-component-use">
 <label for="{{formName + index}}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 control-label"
        ng-class="{'qf-required':required}">
  {{label}}
 </label>
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <textarea type="text" ng-model="inputText" validator-required="{{required}}" validator-group="{{formName}}" id="{{formName + index}}" class="form-control" rows='3' placeholder="{{placeholder}}">

  </textarea>
  <p class='help-block'>
   {{description}}</p>
 </div>
</div>
<div class="qf-component-display">
 <img src="qfretouch/img/textarea.png" alt="textbox" tooltip-class="qf-tooltip-1"
      tooltip-placement="right" uib-tooltip="Text Area"  tooltip-popup-delay="500"/>
</div>

