
<div class="modal-header gb-modal-header row">
 <a class="btn btn-link col-lg-1 col-md-2 col-sm-2 col-xs-2" ng-click="previewFormCtrl.close()">
  >>
 </a>
 <div class="qf-modal-title col-lg-11 col-md-10 col-sm-10 col-xs-10">
  <p class="qf-ellipsis">
   {{designerCtrl.formName}}
  </p>
 </div>
</div>
<div class="modal-body" hm-swipe-left="previewFormCtrl.close()">
 <div class="qf-form-preview row">
  <div class="qf-form-properties">
   <p class="qf-description">
    {{designerCtrl.formDescription}}
   </p>
  </div>
  <form class="form-horizontal">
   <div ng-model="input" qf-form="default" qf-default="defaultValue"></div>
   <div class="form-group">
    <div class="col-md-8 col-md-offset-4">
     <input type="submit" ng-click="submit()" class="btn btn-default"/>
    </div>
   </div>
  </form>
  <div class="checkbox">
   <label><input type="checkbox" ng-model="isShowScope" ng-init="isShowScope = true" />
    Show scope
   </label>
  </div>
  <pre ng-if="isShowScope">{{input| json}}</pre>

 </div>
</div>
<div class="modal-footer">
 <div ng-click="previewFormCtrl.close()" class="btn btn-primary">
  Close
 </div>
</div>
<!-- ------------------------------- MODALS --------------------------->
