/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : Feb 15, 2016, 1:12:04 PM
    Author     : tmushayahama
*/

.qf-component {
    padding: 10px;
    cursor: move
}

.qf-component input {
    cursor: move
}

.qf-component label {
    cursor: move
}

.qf-component select {
    cursor: move
}

.qf-component textarea {
    cursor: move
}

.qf-form-object-editable {
    padding: 10px
}

.qf-form-object-editable.qf-draggable {
    cursor: move
}

.qf-form-object-editable.qf-draggable input {
    cursor: move
}

.qf-form-object-editable.qf-draggable label {
    cursor: pointer
}

.qf-form-object-editable.qf-draggable select {
    cursor: move
}

.qf-form-object-editable.qf-draggable textarea {
    cursor: move
}

.qf-form-object-editable.empty {
    cursor: default;
    margin: 6px;
    height: 80px;
    border: dashed 1px #aaa;
    background-color: #eee
}

.qf-draggable.dragging {
    background-color: #ffffff;
    position: absolute;
    z-index: 800;
    -webkit-box-shadow: #666 0 0 20px;
    -moz-box-shadow: #666 0 0 20px;
    box-shadow: #666 0 0 20px
}

.qf-required:after {
    color: #b94a48;
    content: ' *'
}

.qf-builder {
    min-height: 250px
}

.popover .control-label {
    text-align: left
}

.popover form {
    width: 240px
}