
.dr-zoom-option {
    background-color: transparent;

    &.active {
        background-color: transparent;
        border: #888 solid 2px;
    }
}

.dr-slider { 
    rzslider {

        .rz-pointer {
            top: -4px;
            z-index: 3;
            width: 12px;
            height: 12px;
        }

        .rz-bubble {
            display: none;
        } 

        opacity: 0.5;
        position: relative;
        display: inline-block;
        //width: auto;
        height: 4px;
        margin: 8px 0 5px 0;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.active,
        &:hover {
            opacity: 1;
        }

        &[disabled] {
            cursor: not-allowed;
        }

        &[disabled] .rz-pointer {
            cursor: not-allowed;
            background-color: rgba($primary-color, 0.3);
            ;
        }

        span {
            position: absolute;
            display: inline-block;
            white-space: nowrap;
        }

        .rz-base {
            width: 100%;
            height: 100%;
            padding: 0;
        }

        .rz-bar-wrapper {
            left: 0;
            z-index: 1;
            width: 100%;
            height: 32px;
            padding-top: 16px;
            margin-top: -16px;
            box-sizing: border-box;

            &.rz-draggable {
                cursor: move;
            }
        }

        .rz-bar {
            left: 0;
            z-index: 1;
            width: 100%;
            height: 4px;
            background: rgba($primary-color, 0.3);
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;


            &.rz-selection {
                z-index: 2;
                background: rgba($primary-color, 0.7);
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }
        }

        .rz-pointer {
            top: -4px;
            z-index: 3;
            width: 12px;
            height: 12px;
            cursor: pointer;
            background-color: rgba($primary-color, 0.7);
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            border-radius: 16px;

            &:after {
                position: absolute; 
                top: 12px;
                left: 12px;
                width: 8px;
                height: 8px;
                background: transparent;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                content: '';
            }

            &:hover:after {
                background-color: transparent;
            }

            &.rz-active:after {
                background-color: rgba($primary-color, 0.8);
            }
        }

        .rz-bubble {
            bottom: 16px;
            padding: 1px 3px;
            color: #55637d;
            cursor: default;

            &.rz-selection {
                top: 16px;
            }

            &.rz-limit {
                color: #55637d;
            }
        }

        .rz-ticks {
            position: absolute;
            top: -3px;
            left: 0;
            z-index: 1;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            height: 0;
            padding: 0 11px;
            margin: 0;
            list-style: none;
            box-sizing: border-box;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .tick {
            width: 10px;
            height: 10px;
            text-align: center;
            cursor: pointer;
            background: #d8e0f3;
            border-radius: 50%;
        }

        .tick.selected {
            background: rgba($primary-color, 0.7);

            .tick-value {
                position: absolute;
                top: -30px;
                transform: translate(-50%, 0);
            }
        }

        &.vertical {
            position: relative;
            width: 4px;
            height: 100%;
            padding: 0;
            margin: 0 20px;
            vertical-align: baseline;

            .rz-base {
                width: 100%;
                height: 100%;
                padding: 0;
            }

            .rz-bar-wrapper {
                top: auto;
                left: 0;
                width: 32px;
                height: 100%;
                padding: 0 0 0 16px;
                margin: 0 0 0 -16px;
            }

            .rz-bar {
                bottom: 0;
                left: auto;
                width: 4px;
                height: 100%;
            }

            .rz-pointer {
                top: auto;
                bottom: 0;
                left: -14px !important;
            }

            .rz-bubble {
                bottom: 0;
                left: 16px !important;
                margin-left: 3px;
            }

            .rz-bubble.rz-selection {
                top: auto;
                left: 16px !important;
            }

            .rz-ticks {
                top: 0;
                left: -3px;
                z-index: 1;
                width: 0;
                height: 100%;
                padding: 11px 0;
                -webkit-flex-direction: column-reverse;
                -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
            }

            .rz-ticks .tick {
                vertical-align: middle;
            }

            .rz-ticks .tick .tick-value {
                top: auto;
                right: -30px;
                transform: translate(0, -28%);
            }
        }
    }
}
