.btn-link {
    color: #656565;
}

.btn-link:hover {
    color: #111;
}

.btn-primary {
    border: darken($primary-color, 20%);
    color: #EEE;
    background-color: $primary-color;
}

.btn-primary:hover {
    color: #DDD;
    background-color: rgba($primary-color, 0.7);;
}