.qf-navbar {
 @include position(fixed, 0 0 null 0);
 background-color: #FFF;
 box-sizing: border-box;
 border-bottom: 1px solid #ccc;
 -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
 -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
 box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
 height: 50px;
 border-radius: 0;
 color: #555;
 md-input-container {
  margin: 0px;
 }
 .qf-form-name-input {
  height: 47px;
  font-size: 18px;
 }
 .qf-nav-btn {
  height: 47px;
  padding: 10px 15px;
  font-size: 15px;
  color: $primary-color;
 }
}

.navbar-xs .navbar-brand {
 padding: 2px 8px;
 font-size: 14px;
 line-height: 14px;
}

.navbar-xs .navbar-nav > li > a {
 border-right: 1px solid #ddd;
 padding-top: 2px;
 padding-bottom: 2px;
 line-height: 16px
}