.qf-navbar {
 @include position(fixed, 0 0 null 0);
 z-index: 1;
 background-color: #FFF;
 box-sizing: border-box;
 border-bottom: 1px solid #ccc;
 -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
 -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
 box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
 height: 50px;
 border-radius: 0;
 color: #555;
 .qf-action-btns {
  .md-icon-button {
   font-size: 20px;
   line-height: 30px;
  }
 }
 md-input-container {
  margin: 0px;
 }
 .qf-form-name-input {
  height: 47px;
  font-size: 18px;
 }
 .qf-nav-btn {
  height: 47px;
  padding: 10px 15px;
  font-size: 15px;
  color: $primary-color;
 }
}