/*

                   PLEASE READ THIS BEFORE EDITING
 * This is a doc record stylesheet and it overrides some of the default css provided by other vendors i.e bootstrap.

    A "dr-" prefix is to avoid collisions,

    Please do not change the vendors stylesheets directly
*/


/* -DOC RECORD THEME - Change the variables in this file for a different theme */
@import 'app-themes/theme_1';
@import 'app-variables';
@import "../../../../bower_components/compass-breakpoint/stylesheets/breakpoint.scss";
@import "../../bourbon/_bourbon.scss";

/* DR COMPONENTS */
@import "components/qf-buttons.scss";
@import "components/qf-grid.scss";
@import "components/qf-modals.scss";
@import "components/qf-navs.scss";
@import "components/dr-spinners.scss";
@import "components/qf-resizable.scss";
@import "components/qf-defaults.scss";
@import "components/custom-xeditable";
@import "components/dr-slider.scss";
@import "_app-mixins";

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak], .ng-cloak, .x-ng-cloak {
 display: none !important;
}


md-input-container.md-input-focused .md-input {
 transition: border-color ease 0.28s;
 border-color: $primary-color!important;
 border-bottom-width: 3px;
}

.md-button {
 min-height: 20px;
 min-width: 22px;
}

.md-default {
 background-color: #F2F2F2!important;
}

.hint {
 color: #777;
}

.qf-signature {
 display: block;
 background-color: #FFF;
 height: 60px!important;
 //width: 100%!important;
 //width: calc(100% - 1px)!important;
 //border-bottom: #777 solid 3px;
 width: 200px;
 canvas.jSignature {
  display: block;
  height: 60px!important;
  //width: calc(100% - 1px)!important;
  width: 200px;
 }
}
.qf-signature-placeholder {
 padding: 0px;
 height: 50px;
 width: 100%;
 border-bottom: #888 solid 3px;
 font-family: "Brush Script MT", cursive;
 color: #4169E1;
 font-size: 40px;
 font-style: normal;
 font-variant: normal;
 font-weight: 500;
 line-height: 40px;
}


.qf-picture-box {
 position: relative;
 background-color: #FFF;
 height: 100px!important;
 width: 100%!important;
 .qf-resizable-container {
  transition: all .3s ease-in-out;
  width: 100%;
  height: 100%;
  &.active { left: 0; }
  .resizable {
   margin: auto;
   top: 0; left: 0; right: 0; bottom: 15%;
  }
 }
 img {
  height:100%;
  width: 100%;
 }
}

.tooltip.qf-tooltip-1 .tooltip-inner {
 padding: 5px;
 background-color: #F2F2F2;
 border: rgba($primary-color, 0.5) solid 1px;
 box-shadow: 0 6px 12px rgba(0,0,0,.175);
 color: #777;
 z-index: 10000;
}

div[class*="col-"],
li[class*="col-"]{
 padding: 0;
}
textarea {
 resize: none;
}

h1, h2, h3, h4, h5, h6, p {
 padding: 0;
}

.row {
 margin-right: 0;
 margin-left: 0;
}

.dr-fa-back-icon {
 color: #DDD;
}

.dr-fa-front-icon {
 color: rgba($primary-color, 0.5);
}

.dr-fa-faded {
 color: #999;
}


.footer {
 height:50px
}
.qf-viewer-heading {
 margin-top: 10px;
 color: #555;
 font-size: 25px;
}
.qf-input-underline {
 border: none;
 border-bottom: #AAA solid 2px;
}
.qf-component {
 padding: 15px 10px 15px 10px;
 margin-bottom: 15px;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 .qf-option-sortable {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
   position: relative;
   width: 100%;
   height: 35px;
   label {
    padding-top: 8px;
   }
  }
  border-bottom: #CCC solid 1px;
  input {
   &.qf-option-input {
    @include position(absolute, 0 60px 0 60px);
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent;
    color: #111;
    outline: none;
    border: none!important;
    border-bottom: #CCC solid 1px!important;
   }
  }
  .qf-sortable-drag-me {
   padding-top: 5px;
   text-align: center;
   font-size: 15px;
   @include position(absolute, 0 null 0 20px);
   width: 40px;
   background-color: #DDD;
  }
 }
}

.qf-component-display {
 img {
  width: 100%;
 }
}

.qf-draggable.dragging {
 background-color: #FFF;
 position: absolute;
 z-index: 800;
 min-height: 150px;
 width: 300px!important;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

 .qf-component-use {
  display: block;
 }
 .qf-component-display,
 .qf-grab-me {
  display: none;
 }
}
.qf-component-nav {
 @include position(absolute, 51px null 0 0);
 padding: 0px 10px 0 10px!important;
 //overflow-y: hidden;
 -webkit-overflow-scrolling: touch;
 background-color: #FFF;
 z-index: 2;

 .qf-heading {
  padding: 10px 5px 10px 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 10px;
  background-color: #EEE;
  border-bottom: #DDD 1px solid;
  a {

  }
 }
 .qf-component {
  background-color: #FFF;
  padding: 0;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  .qf-hidden-component-mode {
   display: none;
  }
  &.qf-label {
   padding-left: 0;
   padding-right: 0;
  }
  input, textarea {
   color: #AAA;
   -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
   -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
   box-shadow: inset 2px 2px 2px 0px #dddddd;
   border: 1px solid #aaa;
   border-radius: 0;
   &.qf-label {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent;
    color: #111;
    outline: none;
    border: none;
   }
   &.qf-help-block {
    font-size: 10px;
   }

  }
  .qf-required-checkbox {
   margin: 0;
   padding: 0;
  }
  .qf-component-use {
   @include position(absolute, 31px 0 0 0);
   padding: 0 10px 0 10px;
   // margin-top: 20px;
   // position: relative;
   //display: block;
  }
  &.active {
   outline: #5cb85c solid 5px;
  }
 }
}
.qf-designer-container {
 @include position(absolute, 51px null 10px null);
 background-color: #F2F2F2;
 overflow-x: hidden;
 overflow-y: auto;
 -webkit-overflow-scrolling: touch;
}

.qf-flex-container {
 display: flex;
 flex-direction: column;
}
#qf-main-container {
 margin-top: 60px;
}

.qf-container {
 display: inline-block;
 height: 100%;
 margin: 0 auto;
 padding-left: 15px;
 padding-right: 15px;

 &:before,
  &:after {
  content: " ";
  display: table;
 }

 &:after {
  clear: both;
 }
}

.qf-builder-container {
 background-color: #FFF;
 overflow-y: hidden;
 -webkit-overflow-scrolling: touch;

 .gridster-item {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);
 }
 .qf-form-properties {
  background-color: #FCFCFC;
  height: 50px;
  padding: 10px 20px 5px 20px;
  border-bottom: #DDD solid 1px;
  md-input-container {
   margin: 0px;
  }
  .qf-title-input {
   height: 30px;
   font-size: 20px;
  }
  .qf-description-input {
   font-size: 14px;
  }
 }

 .qf-builder {
  padding: 10px 10px;
  min-height: 600px;


  .qf-component {
   background-color: #FFF;
   padding: 0;
   //margin-bottom: 15px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   overflow: hidden;
   .qf-grab-me {
    pointer-events: all;
    @include position(absolute, 0 0 null 0);
    padding: 5px 0;
    height: 30px;
    background-color: #F2F2F2;
    display: block;
    color: #AAA;
    cursor: move;
    font-size: 18px;
    &:hover {
     color: #555;
     background-color: #DDD;
    }
    .qf-handle-title {
     text-align: left;
     pointer-events: none;
     @include position(absolute, 0 80px 0 0);
    }
    .qf-actions {
     @include position(absolute, 0 0 0 null);
     width: 80px;
     .md-button {
      margin: 0;
      min-width: 20px;
      min-height: 10px;
      line-height: 30px;
     }
    }
   }
   .qf-hidden-design-mode {
    display: none;
   }
   input, textarea {
    color: #AAA;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    border: 1px solid #aaa;
    border-radius: 0;
    &.qf-label {
     padding-left: 0;
     padding-right: 0;
     -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
     box-shadow: none !important;
     background-color: transparent;
     color: #111;
     outline: none;
     border: none;
    }
    &.qf-help-block {
     font-size: 10px;
    }

   }
   .qf-required-checkbox {
    margin: 0;
    padding: 0;
   }
   .qf-component-use {
    @include position(absolute, 31px 0 0 0);
    padding: 0 10px 0 10px;
    // margin-top: 20px;
    // position: relative;
    //display: block;
   }
   .qf-component-display {
    display: none;
   }
   &.active {
    outline: #5cb85c solid 5px;
   }
  }
 }
}

.qf-properties {
 @include position(absolute, 51px 0 10px null);
 background-color: #EEE;
 padding: 5px 10px 10px 10px!important;
}

.qf-form-preview {
 background-color: #FFF;
 padding: 15px 10px;
 height: 100%;
 overflow-y: auto;
 -webkit-overflow-scrolling: touch;
 .qf-form-properties {
  padding: 10px 0px;
  .qf-title {
   font-size: 30px;
  }
  .qf-description {
   font-size: 18px;
  }
 }

 .qf-component {
  border: none;
  box-shadow: none;
  background-color: #FFF;
  padding: 0;
  //margin-bottom: 15px;
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  .qf-grab-me {
   pointer-events: all;
   @include position(absolute, 0 0 null 0);
   padding: 5px 0;
   height: 30px;
   background-color: #F2F2F2;
   display: block;
   color: #AAA;
   cursor: move;
   font-size: 18px;
   &:hover {
    color: #555;
    background-color: #DDD;
   }
   .qf-handle-title {
    text-align: left;
    pointer-events: none;
    @include position(absolute, 0 80px 0 0);
   }
   .qf-actions {
    @include position(absolute, 0 0 0 null);
    width: 80px;
    .md-button {
     margin: 0;
     min-width: 20px;
     min-height: 10px;
     line-height: 30px;
    }
   }
  }
  .qf-hidden-view-mode {
   display: none;
  }
  .control-label {
   padding-left: 0;
  }
  input, textarea {
   color: #AAA;
   -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
   -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
   box-shadow: inset 2px 2px 2px 0px #dddddd;
   border: 1px solid #aaa;
   border-radius: 0;
   &.qf-label {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent;
    color: #111;
    outline: none;
    border: none;
   }
   &.qf-help-block {
    font-size: 10px;
   }

  }
  .qf-required-checkbox {
   margin: 0;
   padding: 0;
  }
  .qf-component-use {
   @include position(absolute, 31px 0 0 0);
   padding: 0 10px 0 10px;
   // margin-top: 20px;
   // position: relative;
   //display: block;
  }
 }
}



.dotted {
 background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
 background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
 background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
 background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
 -webkit-background-size: 3px 3px;
 -moz-background-size: 3px 3px;
 background-size: 3px 3px;
}

.stripped {
 padding: 2.25em 1.6875em;
 background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
 background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
 background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
 background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
 -webkit-background-size: 4px 4px;
 -moz-background-size: 4px 4px;
 background-size: 4px 4px;
}












/*------OVERRIDES------*/
.form-horizontal .control-label {
 padding: 5px 10px 10px 0px;
	font-weight: normal;
 text-align: left;
}
h3 {
	margin: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.form-horizontal .form-group {
	margin: 0;
}

/*------FB TOOLS------*/
.qf-hide {
	display: none;
}
.qf-padding-none {
	padding: 0!important;
}
.qf-truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.qf-disabled {
	opacity: .5;
 pointer-events: none;
}

.tab-nav-container {
	border-bottom: 2px solid #C8C8C6;
}
.qf-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 62px;
}

.qf-body {
	position: absolute;
	top: 65px;
	left: 0;
	right: 0;
	bottom: 50px;
}
.qf-footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	background-color: #EEE;
}
.qf-modal-lg .modal-content {
 width: 800px;
}
.qf-modal-lg .qf-preview-form {
 max-height: 600px;
 overflow-y: auto;
}
.qf-body .container {
	height: 100%;
}
.qf-body .qf-left-bar,
.qf-body .qf-right-bar{
	padding-bottom: 200px; /*so that the last element when srolled to the bottom*/
	height: 100%;
	overflow-y: auto;
}
.qf-body .qf-right-bar {
	background-color: #F2F2F2;
}

.qf-nav-tabs-1 {
	position: relative;
	margin-top: 10px;
}

.qf-nav-tabs-1 > li {
	padding: 0 0 0 3px;
	border: none;
	margin-bottom: -1px;
}

.qf-nav-tabs-1 > li > a {
	width: 100%;
	margin: 0;
	margin-left: 3px;
	border-radius: 7px 7px 0 0;
	border: #C8C8C6 solid 2px;
	line-height: 1.3em;
	color: #222;
	font-size: 1.2em;
}

.qf-nav-tabs-1 > li > a:hover {
	border-color: transparent;
	color: #000;
	background-color: transparent;
}

.qf-nav-tabs-1 > li.active > a,
.qf-nav-tabs-1 > li.active > a:hover,
.qf-nav-tabs-1 > li.active > a:focus {
	color: #EEE;
	cursor: default;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #c09853;
	border-bottom-color: transparent;
}

.qf-nav-tabs-2 {
	position: relative;
}

.qf-nav-tabs-2 .qf-heading {
	padding: 15px 0 0 30px;
	font-size: 1.3em;
}

.qf-nav-tabs-2 li {
	text-align: center;
	padding: 0 0 0 3px;
	border: #74AFAD solid 1px;
	margin-bottom: -1px;
}

.qf-nav-tabs-2 li > a {
	height: 50px;
	width: 100%;
	margin: 0;
	color: #222;
	font-size: 0.9em;
}

.qf-nav-tabs-2 li > a:hover {
	color: #000;
	background-color: #80C1BF;
}

.qf-nav-tabs-2 li.active > a,
.qf-nav-tabs-2 li.active > a:hover,
.qf-nav-tabs-2 li.active > a:focus {
	background-color: #74AFAD;
	cursor: default;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color: #EEE;
	border-bottom-color: transparent;
}


#target fieldset {
	width: 100%;
	border: none;
	padding: 5px;
	padding-bottom: 200px;
}
.component-row {
	padding: 0px;
}

.component {
	position: relative;
	cursor: pointer;
}
.component-row:not(:first-child) > .component {
	padding: 15px 10px 15px 10px;
}
#build .component-row:not(:first-child) > .component {
	padding: 15px 10px 15px 10px;
	border: #c09853 dashed 2px;
}

input {
	cursor: pointer;
}

textarea {
	resize: vertical;
}

.popover .control-group {
	cursor: default;
}
.popover input {
	cursor: text;
}

.temp{
	width: 100%;
	height: 100%;
	background: transparent;
	position: absolute;
	z-index: 999;
	top: 0;
	overflow-x: hidden;
	left: 0;
}


.temp form {
	width: 300px;
	opacity: 0.5;
	padding: 8px 0px;
	border: 1px dotted #ccc;
	position: absolute;
	background: white;
	box-shadow: 0px 0px 30px #999;
	-webkit-transition: -webkit-transform 0.1s ease-out;
	overflow: hidden;
}


#render{
	min-height: 500px;
	font-family: monospace;
}

/* Popovers now are appended to their parent rather
than to the body/main document as they once were.
We need to over-ride some inherited stuff.. */
form .popover .controls {
	margin-left: 0;
}

form .popover .control-label {
	text-align: left;
}

form .popover form {
	width: 224px;
}

.popover-content form .btn{
	margin-right: 10px
}

.target{
	background: #c09853;
}

#target, #input, #radioscheckboxes, #select, #buttons {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



.nav>li>a {
	padding: 8px 13px;
}

.popover {
	z-index: 2000;
}


.required-control .control-label:after {
	content: " *";
	color: #fc4c5e;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
	list-style: none;
}

.sidebar-nav li {
	position: relative;
	margin-bottom: 10px;
	padding: 0px;
	border: #c09853 dashed 1px;
	display: inline-block;
	width: 100%;
}
.sidebar-nav li .component {
	position: relative;
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
}

.sidebar-nav li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 0px;
	background-color: #1c1c1c;
	-webkit-transition: width .2s ease-in;
	-moz-transition:  width .2s ease-in;
	-ms-transition:  width .2s ease-in;
	transition: width .2s ease-in;

}
.sidebar-nav li:before {
	background-color: #D1D1CF;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
	width: 100%;
	-webkit-transition: width .2s ease-in;
	-moz-transition:  width .2s ease-in;
	-ms-transition:  width .2s ease-in;
	transition: width .2s ease-in;

}

.sidebar-nav li a {
	display: block;
	color: #ddd;
	text-decoration: none;
	padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 20px;
	line-height: 44px;
}
.sidebar-nav .dropdown-menu {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
	background-color: #222;
	box-shadow: none;
}












/*-------------------Folder---------------*/
#dr-sidebar-folders-collapse {
 .dr-folder-row {
  border-bottom: #CCC solid 1px;

  a.btn {
   text-decoration: none;
   text-align: left;
   padding: 8px 10px 8px 24px;

   &:hover {
    background-color: rgba($primary-color, 0.3);
   }
  }

  @include respond-to(qfretouch-sm) {

   a.btn {
    text-decoration: none;
    padding: 10px 10px;
   }
  }
 }
 .dr-tree {
  margin-top: 0;
 }
}

/*-------------------Document---------------*/
.dr-document-sidebar {
 @include position(absolute, 0 null 0 0);
 display: block;
 padding: 0;
 overflow-x: hidden;
 background-color: #FFF;
 border-right: #999 solid 1px;

 .dr-sidebar-header {
  @include position(absolute, 0 0 null 0);
  height: 40px;
  display: block;
  color: #555;
  padding: 6px 5px 0 5px;
  border-bottom: #EEE solid 3px;
 }

 .dr-sidebar-body {
  @include position(absolute, 50px 0 40px 0);
  display: block;
  padding: 5px 0;
  overflow-x: hidden;
  overflow-y: auto;
 }

 .dr-sidebar-footer {
  @include position(absolute, null 0 0 0);
  height: 40px;
  display: block;
  padding: 5px 10px;
  background-color: #EEE;

  .btn-toolbar {
   @include position(absolute, 50% null null 50%);
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
  }
 }
}

#dr-document-main {
 .dr-document-body {
  @include absolute-positioning(50px, 0, 30px, 0);
 }
}



.dr-search-sidebar {
 .dr-sidebar-header {
  @include position(absolute, 0 0 null 0);
  height: 50px;
  display: block;
  padding: 5px 10px;
  overflow-x: hidden;
  background-color: #677077;
  color: #EEE;
  border-bottom: #333 solid 1px;
 }

 .dr-sidebar-body {
  @include position(absolute, 51px 0 50px 0);
  display: block;
  padding: 5px 0;
  overflow-x: hidden;
  overflow-y: auto;
 }

 .dr-sidebar-footer {
  @include position(absolute, null 0 0 0);
  height: 50px;
  display: block;
  padding: 5px 0;
  overflow-x: hidden;
  background-color: #EEE;
 }
}

#dr-sidebar-searches-collapse {
 .panel-heading {
  background-color: #EEE;
  border-bottom: #AAA solid 1px;
  color: #555;
  padding: 0 3px;

  .dr-toggle-btn {
   padding: 6px 0 0 0;
  }

  .dr-content {
   font-size: 12px;
   display: block;
   text-decoration: none;
   padding: 0 0 0 0;
  }

  .dr-action {
   padding: 0 0 0 0;
  }
 }

 .dr-panel-search-collapse {
  max-height: 300px;
  overflow-y: auto;
 }
}



/*------------------- ----------*/

.loading-spiner-holder {
 @include position(fixed, 0 0 0 0);
 z-index: 7002;

 &:before {
  @include position(fixed, 0 0 0 0);
  content: '';
  background-color: transparent;
  height: 100%;
 }

 .loading-spiner {
  width: 100%;
  display: block;
  margin-top: 40px;
 }

 .loading-spiner img {
  width: 100%;
  height: 3px;
 }
}

.loading-spiner-holder-login {
 @include position(fixed, 0 0 0 0);
 background-color: rgba(#000, 0.3);
 z-index: 7002;

 &:before {
  @include position(fixed, 0 0 0 0);
  content: '';
  background-color: transparent;
 }

 .loading-spiner {
  width: 150px;
  display: block;
  margin: 120px auto;
 }

 .loading-spiner img {
  width: 150px;
 }
}


p {
 margin: 0;
}

textarea {
 resize: none;
}

#logo img {
 height: 18px;
 width: auto;
}

#logo img.img-icon {
 height: 30px;
 width: auto;
}






/*-------------------DR TOOLS ----------*/
.dr-ghost-btn {
 display: inline-block;
 padding: 8px;
 color: #555;
 border: 2px solid #AAA;
 text-align: center;
 outline: none;
 text-decoration: none;
 transition: border-color 0.3s ease-out, color 0.3s ease-out;
}

.dr-ghost-btn:hover,
.dr-ghost-btn:active {
 color: #C59429;
 border-color: $secondary-color;
 transition: border-color 0.4s ease-in, color 0.4s ease-in;
}

.dr-outer-center {
 float: right;
 right: 50%;
 position: relative;
}

.dr-inner-center {
 float: right;
 right: -50%;
 position: relative;
}

.dr-horizontal-scrollbar {
 overflow-x: auto;
}

.clear {
 clear: both;
}

.dr-tag {
 margin-left: 10px;
 float: left;
 border: #BBB solid 1px;
}

.dr-disabled {
 opacity: 0.5;
 pointer-events: none;
}

.dr-disabled-2 {
 opacity: 0.2;
 pointer-events: none;
}



.dr-callout {
 padding: 10px;
 margin: 5px 0;
 border: 1px solid #eee;
 border-left-width: 5px;
 border-radius: 3px;
}

.dr-callout .dr-heading {
 margin-top: 0;
 margin-bottom: 5px;
 font-size: 1.1em;
}

.dr-callout p:last-child {
 margin-bottom: 0;
}

.dr-callout code {
 border-radius: 3px;
}

.dr-callout + .dr-callout {
 margin-top: -5px;
}

.dr-callout-default {
 border-left-color: #777;
}

.dr-callout-default .dr-heading {
 color: #777;
}

.dr-callout-primary {
 border-left-color: $primary-color;
}

.dr-callout-primary .dr-heading {
 color: $primary-color;
}

.dr-callout-success {
 border-left-color: #5cb85c;
}

.dr-callout-success .dr-heading {
 color: #5cb85c;
}

.dr-callout-danger {
 border-left-color: #d9534f;
}

.dr-callout-danger .dr-heading {
 color: #d9534f;
}

.dr-callout-warning {
 border-left-color: #f0ad4e;
}

.dr-callout-warning .dr-heading {
 color: #f0ad4e;
}

.dr-callout-info {
 border-left-color: #5bc0de;
}

.dr-callout-info .dr-heading {
 color: #5bc0de;
}





.dr-tag .dr-tag-content {
 min-width: 80px;
 padding-left: 5px;
 padding-right: 5px;
 border: #BBB solid 1px;
}

.dr-tag .dr-tag-remove {
 border: #BBB solid 1px;
}

.dr-btn-modal-file {
 margin-top: -7px;
}

.dr-modal-left-pane {
 position: absolute;
 top: 0px;
 bottom: 0px;
 left: 0;
 z-index: 1000;
 display: block;
 padding: 0;
 overflow-x: hidden;
 background-color: #E2E2E2;
 border-right: #999 solid 1px;
}

.dr-modal-left-pane .dr-pane-header {
 position: absolute;
 top: 0px;
 left: 0;
 z-index: 1002;
 display: block;
 padding: 5px 0;
 overflow-x: hidden;
 background-color: #677077;
 color: #EEE;
 padding: 6px 10px;
 border-bottom: #333 solid 1px;
}

.dr-modal-left-pane .dr-pane-body {
 position: absolute;
 top: 50px;
 bottom: 0px;
 left: 0;
 z-index: 1001;
 display: block;
 padding: 5px 0;
 overflow-x: hidden;
 overflow-y: auto;
}

.dr-modal-left-pane .dr-pane-footer {
 position: absolute;
 height: 50px;
 bottom: 0px;
 left: 0;
 z-index: 1001;
 display: block;
 padding: 5px 0;
 overflow-x: hidden;
 background-color: #EEE;
}

.dr-pane-heading-2 {
 padding: 10px 5px;
 color: #000;
 border-bottom: #AAA solid 1px;
 font-size: 1.2em;
 background-color: #D2D2D2;
}

.dr-floating-subheader {
 top: 120px;
 opacity: 0.8;
 left: 50%;
 position: fixed;
 z-index: 3000;
}

.dr-floating-subheader:hover {
 opacity: 1;
}

.dr-modal-right-pane {
 @include position(absolute, 0 0 0 null);
 display: block;
 padding: 0;
 overflow-x: hidden;
 overflow-y: auto;
 background-color: #F2F2F2;

 .dr-pane-header {
  @include position(absolute, 0 0 null 0);
  height: 35px;
  display: block;
  padding: 5px 10px;
  overflow: visible;
  border-bottom: #BBB solid 1px;
 }

 .dr-pane-body {
  @include position(absolute, 40px null 20px 0);
  z-index: 1;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  .container,
  .dr-thumbnail {
   height: 100%;
  }
 }
}





.dr-mega-dropdown {
 width: 800px;
 padding: 10px 20px;
}

.dr-mega-dropdown {
 width: 800px;
 padding: 10px 20px;
}

.dr-modal-menu-dropdown {
 width: 200px;
 z-index: 1010;
 padding: 0px;
 max-height: 400px;
 overflow-y: auto;
}

.dr-modal-dropdown-thin {
 width: 150px;
 background-color: #DDD;
 max-height: 500px;
 z-index: 1010;
 padding: 10px 0;
 text-align: center;
 overflow-y: auto;
}

.dr-modal-dropdown-thin li {
 border-bottom: #FFF solid 3px;
}

.dr-modal-dropdown-thin li:hover a {
 background-color: #4D788A;
}

.dr-modal-file-table img {
 max-height: 100px;
}

.dr-modal-scrollable {
 height: 600px;
 overflow-y: auto;
}

.dr-nav-btn {
 margin-top: -2px;
}

.dr-truncate {
 width: 100%;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.dr-border-none {
 border: 0 !important;
}

.dr-padding-none {
 padding: 0 !important;
}

.dr-padding-thinner {
 padding: 2px !important;
}

.dr-padding-thin {
 padding: 5px !important;
}

.dr-padding-medium {
 padding: 10px !important;
}

.dr-padding-thick {
 padding: 15px !important;
}

.dr-margin-none {
 margin: 0 !important;
}

.dr-thumbnail {
 background-color: transparent;
 border: none;

 img,
 a > img {
 }
}

.dr-thumbnail-1 {
 display: block;
 height: 250px;
 background: #F2F2F2;
 border: 1px solid;
 border-color: #e5e5e5 #dbdbdb #d2d2d2;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
 -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
 box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.dr-thumbnail-1 img {
 height: 200px;
}

.dr-thumbnail-1 .caption {
 height: 40px;
}

.dr-thumbnail-1 .caption .dr-title {
 padding: 5px 0 0 0;
}

/*------------------OVERRIDES---------------*/

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
 background-color: transparent;
}

.checkbox {
 padding-top: 5px;
 padding-bottom: 5px;
}

.dr-progress {
 margin: 0;
 height: 17px;
 font-size: 0.9em;
}

.dr-list-group .list-group-item {
 padding: 0px;
 border: none;
 border-bottom: 1px solid #CCC;
}

.dd {
 max-width: 1000px;
}



.panel-group {
 margin-bottom: 0;
}


.dr-selected-none {
 position: absolute;
 left: 50%;
 top: 40%;
 font-size: 2.5em;
 text-align: center;
 color: #BBB;
 -webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}



/*---------------SMART ADMIN OVERRIDES---------------*/

#content {
 padding: 0;
}

.page-footer {
 background-color: #BBB;
}


#logo {
 margin: 12px 0px 0px 0px;
 width: auto;
}

.modal-header {
 height: 50px;
 background-image: none;
 background: #FFF;
 background: linear-gradient(to bottom, #E2E2E2 0%, #FFF 100%);
 border-bottom: 3px solid $secondary-color;
 -webkit-box-shadow: 0 10px 6px -6px #CCC;
 -moz-box-shadow: 0 10px 6px -6px #CCC;
 box-shadow: 0 10px 6px -6px #CCC;
}

.login-header {
 position: relative;
 padding-top: 15px;
 height: 54px;
 background-image: none;
 background: #FFF;
 background: linear-gradient(to bottom, #DDD 0%, #FFF 100%);
 border-bottom: 3px solid $secondary-color;
 -webkit-box-shadow: 0 10px 6px -6px #CCC;
 -moz-box-shadow: 0 10px 6px -6px #CCC;
 box-shadow: 0 10px 6px -6px #CCC;

 .dr-login-logo {
  width: 100%;

  img {
   height: 18px;
   width: auto;
   margin: 0 auto;
  }
 }

 .dr-login-text {
  font-size: 20px;
  color: #444;
  padding: 0px 10px 0 0;
  margin-top: -4px;
 }
}

.dr-login-page {
 @include position(fixed, 0 0 0 0);
 background-color: #F7F7F7;

 .dr-login-container {
  @include position(absolute, 40% null null 50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

  .dr-heading {
   font-size: 25px;
   margin: 20px 0 20px 0;
  }

  .well {
   padding-top: 0;
   background-color: #CCC;
  }

  @include respond-to(qfretouch-xs) {
   .well {
    padding: 5px;
   }
  }
 }

 .fa-lg {
  font-size: 50px;
  margin: 0 30px 30px 0;

  .fa-outer {
   color: #F6F6F6;
  }

  .fa-inner {
   color: rgba($primary-color, 0.1);
  }
 }

 @include respond-to(qfretouch-sm) {
  .fa-lg {
   font-size: 50px;
   margin: 0 30px 30px 0;
  }
 }

 @include respond-to(qfretouch-xs) {
  .fa-lg {
   font-size: 30px;
   margin: 0 20px 20px 0;
  }
 }
}

.modal-body {
 padding: 0px !important;
}


#dr-header {
 background-image: none;
 background: #FFF;
 background: linear-gradient(to bottom, #E2E2E2 0%, #FFF 100%);
 border-bottom: 3px solid $secondary-color;
 -webkit-box-shadow: 0 10px 6px -6px #CCC;
 -moz-box-shadow: 0 10px 6px -6px #CCC;
 box-shadow: 0 10px 6px -6px #CCC;

 .dr-menu-btn {
  margin: 9px 0 0 0;
  padding: 0 10px 0 0;
 }


 .dr-user-btn {
  color: #999;
  margin: -5px 10px 0 0;
 }

 .dr-logo {
  padding-top: 13px;
 }
}

#dr-sidebar-header {
 top: 0;
 left: 0;
 z-index: 1000;
 width: 100%;
 position: fixed;
 background-color: #FFF;
 border-bottom: #4D788A solid 2px;
 -webkit-box-shadow: 0 10px 6px -6px #AAA;
 -moz-box-shadow: 0 10px 6px -6px #AAA;
 box-shadow: 0 10px 6px -6px #AAA;
}

#navbar {
 padding-top: 8px;
}

#main {
 background-color: #F5F5F5;
 position: absolute !important;
 left: 0;
 top: 0px;
 bottom: 53px;
 right: 0px;
}

#content {
 overflow: hidden;
 margin-left: 15px;
}

#container {
 width: 70%;
 margin: 0 15%;
}

.dr-tree {
 margin-left: -18px;
}

[treecontrol] ul {
 overflow: visible;
}

[treecontrol] li {
 width: 100%;
 white-space: nowrap;
 text-overflow: ellipsis;
}

[treecontrol] li .btn {
 background-color: transparent;
 border: none;
 color: #BBB;
}

[treecontrol] li .btn:hover {
 background-color: #eee;
 color: #777;
}

.dropdown-menu > .dr-li-item {
 padding: 0;
 border-left: #EEE solid 3px;
 color: #333;
}

.dropdown-menu > .dr-li-item:hover {
 border-left: $secondary-color solid 3px;
 background-color: #EEE;
 color: #000;
}

.dropdown-menu > .dr-li-item > a {
 display: block;
 padding: 7px 5px 7px 10px;
 clear: both;
 font-weight: 400;
 line-height: 1.42857143;
 color: #333!important;
 white-space: nowrap;
}

.dropdown-menu {
 &.dr-file-list {
  width: 500px;
 }
}


tr .dr-menu-btn-1 {
 margin-top: -7px;
}

/*---------FULL COLUMNS ----------*/

#dr-sidebar-handle {
 position: absolute;
 height: 50px;
 width: 50px;
 padding: 10px 0 0 18px;
 background-color: #aecdcf;
 color: #444;
 right: -60px;
 z-index: 2000;
}

.dr-right-sidebar {
 position: fixed;
 top: 51px;
 bottom: 51px;
 left: 0;
 z-index: 1000;
 display: block;
 padding: 5px 0;
 overflow-x: hidden;
 overflow-y: auto;
 /* Scrollable contents if viewport is shorter than content. */
 background-color: #f5f5f5;
 border-left: 1px solid #AAA;
}

.dr-height-full {
 height: 100%;
}

.dr-col-full {
 overflow: hidden;
}

.dr-col-full > .dr-heading-fixed {
}

.dr-col-full > .dr-scrollable {
 overflow-y: auto;
 height: 600px; /*to reduce transition btween start height and calculated height, it will be overriden*/
}

#dr-col-left-1 {
 padding: 0 10px 0 0;
 background-color: #FFF;
 border-right: #999 solid 1px;
}

#dr-col-middle-1 {
 padding: 0 0 0 5px;
 background-color: #EEE;
 border-top: #999 solid 1px;
 border-right: #999 solid 1px;
 overflow: hidden;
}

#dr-col-right-1 {
 background-color: #FFF;
 padding: 0 2px 0 0;
}

/* --------------DR HEADINGS ------------------*/
.dr-heading-1 {
 height: 50px;
 padding: 5px 5px 10px 10px;
 border-bottom: #999 solid 1px;
}

.dr-heading-2 {
 height: 75px;
 padding: 5px 20px 10px 20px;
 background-color: #FFF;
 border-bottom: #BBB solid 1px;
}

.dr-heading-2 .breadcrumb {
 background-color: transparent;
 margin: 0;
}

.dr-heading-1 .dr-title {
 padding: 0;
 line-height: 35px;
 font-size: 1.2em;
 color: #4D788A;
}

.dr-heading-1 .dr-action {
 padding: 0;
}

.dr-heading-2 .dr-title {
 padding: 0;
 line-height: 35px;
 font-size: 1.2em;
 color: #4D788A;
}

.dr-heading-2 .dr-action {
 padding: 0;
}

.dr-heading-2 .dr-toolbar {
 padding: 0;
}

/* --------------DR NAVS ------------------*/
.dr-hide {
 display: none;
}

.dr-nav-tabs-1 {
 background-color: #677077;
 color: #EEE;
 padding: 6px 10px;
 border-bottom: #333 solid 1px;
 position: relative;
 margin-top: 0px;
}

.dr-nav-tabs-1 > li {
 text-align: center;
 padding: 0 0 0 3px;
 border: none;
 margin-bottom: -1px;
}

.dr-nav-tabs-1 > li > a {
 width: 100%;
 margin: 0;
 color: #EEE;
}

.dr-nav-tabs-1 > li > a:hover {
 color: #FFF;
 background-color: #677077;
}

.dr-nav-tabs-1 > li.active > a,
.dr-nav-tabs-1 > li.active > a:hover,
.dr-nav-tabs-1 > li.active > a:focus {
 background-color: #677077;
 cursor: default;
 color: #FFF;
}

.dr-nav-tabs-2 {
 position: relative;
 margin-top: 0px;
}

.dr-nav-tabs-2 > li {
 float: left;
 margin-right: 10px;
 min-width: 200px;
 max-width: 300px;
 padding: 0 0 0 3px;
 border: none;
 margin-bottom: -1px;
 background-color: transparent;
 border-top: #BBB solid 1px;
 border-right: #AAA solid 1px;
 border-left: #BBB solid 1px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 overflow: hidden;
 height: 35px;
 line-height: 15px;
}

.dr-nav-tabs-2 > li > a {
 text-align: left;
 width: 100%;
 margin: 0;
 color: #777;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 direction: rtl;
}

.dr-nav-tabs-2 > li > a:hover {
 color: #333;
}

.dr-nav-tabs-2 > li:hover {
 background-color: #F2F2F2;
}

.dr-nav-tabs-2 > li.active > a,
.dr-nav-tabs-2 > li.active > a:hover,
.dr-nav-tabs-2 > li.active > a:focus {
 color: #333;
 cursor: default;
 background-color: #FFF;
}

.dr-nav-tabs-3 {
}

.dr-nav-tabs-3 > li {
 border-bottom: #CCC solid 1px;
}

.dr-nav-tabs-3 > li > a {
 width: 100%;
 margin: 0;
 color: #777;
}

.dr-nav-tabs-3 > li:hover,
.dr-nav-tabs-3 > li.active {
 border-left: #AA1111 solid 5px;
 background-color: #F5F5F5;
}

.dr-nav-tabs-3 > li:hover > a {
 color: #777;
}

.dr-nav-tabs-3 > li.active > a {
 color: #444;
}

.dr-nav-tabs-4 {
 height: 40px;

 > li {
  float: left;
  padding: 0 5px;
 }

 > li > a {
  text-align: center;
  padding: 6px 0;
  width: 100%;
  margin: 0;
  border-bottom: transparent solid 3px;
  color: #555;
 }

 > li:hover,
  > li.active,
  > li:focus {
  background-color: #FFF;
 }

 > li:hover > a {
  border-bottom: rgba($secondary-color, 0.5) solid 3px;
  background-color: #FFF;
  color: #555;
 }

 > li.active > a {
  border-bottom: $secondary-color solid 3px;
  color: #222;
 }
}

/*----File Upload -----*/
.my-drop-zone {
 border: dotted 3px lightgray;
}

.nv-file-over {
 border: dotted 3px red;
}

.another-file-over-class {
 border: dotted 3px green;
}


.dr-files-menu {
 padding: 0 5px;
 @include position(absolute, 0 0 null 0);
 z-index: 1002;
 height: 35px;
 background-color: #FFFFFF;
 border-bottom: #AAA solid 1px;
}

.dr-files-menu .btn-default {
 background-color: transparent;
 color: #57889C;
}

/*-------------DR TABLE---------------*/
table {
 border-collapse: separate;
}

table {
 margin: 0;
 white-space: nowrap;
}

table .dr-td-div-lg {
 width: 200px;
}

table .dr-td-div-md {
 width: 150px;
}

table .dr-td-div-sm {
 width: 100px;
}

table .dr-td-div-xs {
 width: 50px;
}

.inner-div {
 margin-left: 205px;
 overflow-y: visible;
 padding-bottom: 1px;
}

.headcol {
 position: absolute;
 background-color: #F2F2F2;
 border-right: #999 solid 1px;
 width: 200px !important;
 left: 0px;
 top: auto;
}

.dr-properties-table {
 .dr-item .dr-right {
  border-left: #CCC solid 1px;
 }

 label {
  padding-top: 10px;
  color: #222;
  font-weight: bold;
  font-size: 0.8em;
 }

 input,
 textarea,
 select {
  outline: 0;
  border: none;
  background-color: transparent;
  color: #222;
 }

 .form-control[disabled],
 .form-control[readonly] {
  background-color: transparent;
  color: #999;
  cursor: text;
 }

 .dr-heading {
  padding: 10px 5px;
  font-weight: bold;
  color: #999;
  border-bottom: #AAA solid 1px;
  font-size: 12px;
  background-color: #FFF;
 }

 .dr-item {
  margin: 0;
  border-bottom: #AAA solid 1px;
 }
}

body {
 position: relative;
 overflow-x: hidden;
}

body,
html {
 height: 100%;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
 background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
 padding-left: 0;
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 transition: all 0.5s ease;
}

#wrapper.toggled {
 padding-left: 220px;
}

.sidebar-wrapper {
 @include position(absolute, 0 null 0 0);
 min-width: 000px;
 max-width: 500px;

 .dr-header {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 95px;
  border-bottom: #BBB solid 1px;
  background-color: #FFF;
 }

 .dr-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F7F7F7;
  border-right: #BBB solid 1px;
  overflow: auto;
 }

 .dr-body .panel {
  background-color: transparent;
 }
}

#dr-sidebar-accordion {
 height: 100%;

 .dr-icons-toolbar {
  .btn {
   margin-right: 10px;
  }

  padding: 2px 0;

  .fa-lg {
   font-size: 12px;

   .fa-outer {
    @include position(absolute, 0 0 0 0);
    color: #999;
    font-size: 22px;
   }

   .fa-inner {
    @include position(absolute, 6px null null 9px);
    font-size: 15px;
    font-weight: 100;
    color: rgba($primary-color, 0.8);
   }

   &:hover {
    .fa-outer {
     color: #888;
    }

    .fa-inner {
     color: rgba($secondary-color, 0.6);
    }
   }
  }
 }
}

#folder-details .modal-content {
 width: 450px;
}

#folder-details .modal-body {
 height: 400px;
}

#folder-details .modal-body .dr-header {
 margin: 0;
 position: absolute;
 width: 100%;
 top: 0;
 left: 0;
 height: 55px;
 border-bottom: #BBB solid 1px;
 background-color: #FFF;
}

#folder-details .modal-body .dr-body {
 position: absolute;
 top: 56px;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #F2F2F2;
 overflow-x: hidden;
 overflow-y: auto;
}

#upload-document .modal-body {
 height: 400px;
 overflow-x: hidden;
 overflow-y: auto;
}

.panel-default {
 .panel-heading {
  background-color: #F7F7F7;
  color: #555;
  padding: 5px 5px;
  border-bottom: #777 solid 1px;

  .panel-title {
   font-size: 12px;
  }

  &:hover {
   .dr-fa-front-icon {
    color: $secondary-color;
   }
  }
 }
}

.dr-sidebar-collapse-body {
 padding: 10px 5px 0 8px;
 overflow-y: auto;
}

#dr-search-box {
 padding: 8px 0 0 0;

 .dr-search-icon {
  color: #BBB;
  @include position(absolute, 10px null 0 15px);
 }

 .dr-search-input {
  background-color: #F2F2F2;
  border: 1px solid #BBB;
  font: bold 12px Arial,Helvetica,Sans-serif;
  width: 500px;
  padding: 8px 15px 8px 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;

  &:focus {
   background-color: #FFF;
  }
 }

 .dr-advanced-search-icon {
  color: #888;
  margin-top: -8px;
  font-size: 26px;
 }

 @include respond-to(qfretouch-md) {
  .dr-search-input {
   width: 350px;
  }
 }

 @include respond-to(qfretouch-sm) {
  .dr-search-input {
   width: 350px;
  }
 }

 @include respond-to(qfretouch-xs) {
  .dr-search-input {
   width: 150px;
  }
 }
}

.dr-search-dropdown {
 background-color: #FFF;
 width: 500px;

 @include respond-to(qfretouch-md) {
  width: 350px;
 }

 @include respond-to(qfretouch-sm) {
  width: 350px;
 }

 @include respond-to(qfretouch-xs) {
  width: 200px;
 }


 .dr-no-data {
  padding: 20px 5px;
  opacity: 0.35;
  font-size: 18px;
  text-align: center;
 }

 .dr-dropdown-header {
  background-color: #F2F2F2;
  @include position(absolute, 0 0 null 0);
  height: 35px;
  color: #777;

  .dr-title {
   padding: 10px 5px;
   font-size: 0.9em;
  }

  .dr-action {
   padding: 3px;
  }
 }

 .dr-dropdown-body {
  margin-top: 36px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;

  .dr-search-result {
   padding: 5px 10px;
   height: 50px;
   border-bottom: #DDD solid 1px;
   overflow: hidden;

   .dr-name {
    font-size: 16px;
    margin-bottom: 3px;
    color: #333;
   }

   .dr-description {
    font-size: 12px;
    color: #555;
   }

   .dr-relevance {
    padding-top: 5px;
    font-size: 18px;
    color: #AAA;
   }

   &:hover {
    background-color: #F2F2F2;
   }
  }
 }

 .dr-search-dropdown-row {
  .dr-action {
   position: absolute;
   width: 100px;
   left: -100px;
   height: 30px;
   background-color: #CCC;
   color: #333;
  }

  .dr-action i {
   padding: 5px 2px;
   font-size: 1.4em;
   text-align: center;
  }

  .dr-action i:hover {
   background-color: #AAA;
  }
 }

 .panel {
  margin: 0;

  .panel-heading {
   background-color: #FFF;
   color: #777;
   text-align: left;
   font-size: 12px;
  }
 }
}


.dr-search-result-header {
 padding: 8px 5px;
}

#dr-username {
 padding: 15px 10px 0 0;

 @include respond-to(qfretouch-sm) {
  padding: 10px 0 0 0;
 }
}

.dr-search-sidebar-collapse-body {
 padding: 0 5px;
 overflow-y: auto;
 overflow-x: hidden;
}

.sidebar-wrapper .dr-body .dropdown-menu {
 left: -180px;
}

.sidebar-wrapper::-webkit-scrollbar {
 display: none;
}

#page-content-wrapper {
 position: fixed;
 top: 53px;
 bottom: 0;
 left: 0;
 right: 0;
}



/*-------------DR ANIMATIONS----------------*/
.fade-hide, .fade-show {
 -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
 -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
 -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
 transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}





.splitter_panel {
 position: relative;
}

.splitter_panel .vsplitter {
 background-color: #CCC;
 cursor: col-resize;
 z-index: 1000;
 width: 2px;
}

.splitter_panel .vsplitter:hover {
 background-color: #2C699D;
}

.splitter_panel .hsplitter {
 background-color: #5F5F5F;
 cursor: row-resize;
 z-index: 800;
 height: 7px;
}

.splitter_panel .vsplitter.splitter-invisible,
.splitter_panel .hsplitter.splitter-invisible {
 background: none;
}

.splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel,
.splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
 position: absolute;
 overflow: auto;
}

.splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel {
 height: 100%;
}

.splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
 width: 100%;
}

.splitter_panel .top_panel, .splitter_panel .left_panel, .splitter_panel .vsplitter {
 top: 0;
}

.splitter_panel .top_panel, .splitter_panel .bottom_panel, .splitter_panel .left_panel, .splitter_panel .hsplitter {
 left: 0;
}

.splitter_panel .bottom_panel {
 bottom: 0;
}

.splitter_panel .right_panel {
 right: 0;
}

.splitterMask {
 position: absolute;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
 z-index: 1000;
}

/*----------------POPOVERS-----------------*/
#dr-search-popover-content {
 width: 600px;
 height: 500px;
}

#dr-add-popover-content {
 width: 200px;
}






/*-----------SEARCH RESULT HEADER-------------*/
.dr-search-summary {
 margin: 0;
 padding: 8px;
 display: inline-block;
 overflow: hidden;
 background-color: #E3E3E1;
 border-bottom: #AAA solid 2px;
 height: 41px;
 width: 100%;
}

.dr-search-summary .dr-heading {
}

.dr-search-header .dr-heading {
}

.dr-search-stats {
 padding: 0;
 margin: 0;
 text-align: center;
 border-right: #CCC solid 1px;
}

.dr-search-stats .dr-stat-number {
 padding: 0;
 margin: 0;
 color: #777;
 text-align: center;
}

.dr-search-results-summary {
 height: 80px;
}

/*adding the arrows for the dr-breadcrumbs using rotated pseudo elements*/
.dr-breadcrumb {
 padding: 10px 0 0 10px;
 display: block;
 background-color: transparent;

 > li {
  font-size: 18px;

  .btn-group {
   margin-top: -1px;
  }

  a {
   color: darken($primary-color, 10%);
  }

  a:hover {
   color: rgba($primary-color, 0.7);
  }
 }

 .active {
  color: rgba($primary-color, 0.7);
 }

 > li + li:before {
  color: #999;
  content: "\00a0\276F";
 }
}

















.dr-faded-icon {
 color: #AAA;
}

textarea.code {
 font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
 font-size: 13px;
 min-height: 250px;
 resize: vertical;
 color: #000;
}

.modal .label.error-msg {
 display: block;
 font-size: 12px;
 margin-top: 5px;
 padding: 0;
 padding: 5px;
 margin-top: 10px;
 text-align: left;
}

div, span {
 cursor: default;
}

a:hover, a:hover *,
a:focus, a:focus *,
a, a * {
 cursor: pointer;
 text-decoration: none;
}

input, select, textarea,
.btn, .input-sm,
.dropdown-menu,
.panel, .panel-heading,
.modal .modal-content {
 border-radius: 0;
}

.mb0 {
 margin-bottom: 0;
}

.sub-header {
 padding-bottom: 10px;
 border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
 border: 0;
}

@media (max-width: 768px) {
 .navbar-form .btn {
  margin-top: 5px;
 }
}


.main-wrapper {
 @include position(absolute, 0 0 0 0);
 padding: 0;

 .dr-folder-nav {
  @include position(absolute, 0 0 null 0);
  height: 45px;
  border-bottom: #999 solid 1px;
 }
}


#dr-files-column,
#dr-file-column {
 @include position(absolute, 46px 0 0 0);
}

.dr-file-icons-toolbar {
 .btn {
  margin-right: 10px;
 }

 padding: 8px 0;

 .fa-lg {
  font-size: 12px;

  .fa-outer {
   @include position(absolute, 0 0 0 0);
   color: #BBB;
   font-size: 22px;
  }

  .fa-inner {
   @include position(absolute, 6px null null 9px);
   font-size: 15px;
   font-weight: 100;
   color: rgba($primary-color, 0.6);
  }

  &:hover {
   .fa-outer {
    color: #888;
   }

   .fa-inner {
    color: rgba($secondary-color, 0.6);
   }
  }
 }
}

#dr-files-column {
 /*
 min-width: 50%;
 max-width: 80%;
 margin-left: 30px;
 */
 padding: 0;
 background-color: #FFF;
 border-right: #AAA solid 1px;
}

#dr-file-column {
 min-width: 200px;
 max-width: 50%;
 background-color: #F2F2F2;

 .dr-body {
  @include position(absolute, 0 0 0 0);
  overflow-y: auto;
  overflow-x: hidden;
 }
}

#dr-advanced-search-nav,
#dr-advanced-search-detail,
#dr-advanced-search-summary {
 @include position(absolute, 0 null 0 0);
 z-index: 1000;
 display: block;
 overflow-x: hidden;
}

#dr-advanced-search-nav {
 padding: 0 5px;
 background-color: #FFFFFF;
}

#dr-advanced-search-detail {
 padding: 0 15px 0 5px;
 background-color: #F2F2F2;
 border-right: #888 solid 1px;
}

#dr-advanced-search-summary {
 background-color: #F5F5F5;
}


.main {
 padding: 10px 10px 300px 10px !important;
 position: fixed;
 top: 51px;
 bottom: 51px;
 left: 0;
 z-index: 1000;
 display: block;
 padding: 5px 0;
 overflow-x: hidden;
 overflow-y: auto;
 /* Scrollable contents if viewport is shorter than content. */
 background-color: #f2f2f2;
 border-right: 2px solid #999;
}


.main .page-header {
 margin-top: 0;
}

.file-tree ul.nav.sidebar-nav {
 margin: 0;
 padding: 0;
 padding-left: 12px;
}

.file-tree ul.nav.sidebar-nav > li {
 border-left: 1px solid #ddd;
 padding-left: 4px;
}

.file-tree ul.nav.sidebar-nav > li > div {
 padding: 5px 2px 5px 4px;
}

.file-tree ul.nav.sidebar-nav:first-child {
 padding-left: 0;
}

.dr-folder-icon {
 color: #D2AF70;
}

.dr-folder-icon.fa-folder-open {
 color: #E6C07B;
}

.dr-expand-icon {
 color: #656565;
}

.dr-collapse-icon {
 color: #AAA;
}

.file-tree .file-tree-root > li {
 border-left: none !important;
 padding-left: 0px !important;
}

.mr2 {
 margin-right: 2px;
}

.mr5 {
 margin-right: 5px;
}

.table-files td {
 padding: 8px 8px !important;
 vertical-align: middle !important;
}


.iconset {
 padding: 0 10px;
}

.col-120 {
 width: 100px;
 max-height: 100px;
 float: left;
 margin-bottom: 9px;
 margin-right: 9px;
}

.col-120:last-child {
 margin-right: 0;
}

.iconset .thumbnail {
 border-radius: 0;
 overflow: hidden;
 margin-bottom: 20px;
 border: #CCC solid 1px;
 background-color: #F7F7F7;
 padding: 2%;
 width: 96%;
}

.iconset .dr-folder-btn {
 margin-bottom: 20px;
 border-radius: 0;
 border: #CCC solid 1px;
 padding: 0px;
 width: 100%;
 height: 42px;
}

.iconset .thumbnail .dr-folder-btn {
 border: none;
 border-top: #CCC solid 1px;
 margin-top: 10px;
 margin-bottom: 0px;
}



.iconset .dr-folder-btn:hover {
 border: #777 solid 1px;
}

.iconset .dr-folder-btn .dr-title {
 padding: 10px 10px;
}

.iconset .dr-folder-btn .dr-action {
 padding: 0px;
}

.iconset .dr-folder-btn .dr-action .btn {
 padding-top: 9px;
 padding-bottom: 8px;
 height: 100%;
 background-color: #F2F2F2;
}

.iconset .thumbnail .item-icon {
 width: 100%;
 overflow: hidden;
}

.iconset .thumbnail .item-icon img {
 width: 100%;
}

.modal-fullscreen .modal-dialog {
 bottom: 0;
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
}

.modal-fullscreen .dr-modal-scrollable {
 height: auto;
 bottom: 31px;
 left: 0;
 position: absolute;
 right: 0;
 top: 60px;
}

.modal-fullscreen .modal-dialog {
 margin: 0;
 width: 100%;
}

.modal-fullscreen .modal-content {
 bottom: 20px;
 left: 20px;
 position: absolute;
 right: 20px;
 top: 20px;
 border: none;
 -moz-border-radius: 0;
 border-radius: 0;
 -webkit-box-shadow: inherit;
 -moz-box-shadow: inherit;
 -o-box-shadow: inherit;
 box-shadow: inherit;
}

.modal-fullscreen textarea.code {
 min-height: 450px;
}

.modal-fullscreen .modal-footer {
 background-color: #31354B;
 position: absolute;
 height: 30px;
 width: 100%;
 bottom: 0;
 padding: 0px;
}

.modal-fullscreen .modal-footer .btn-link {
 padding: 1px 10px;
 color: $secondary-color;
}



.animated {
 -webkit-animation-duration: .7s;
 animation-duration: .7s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}

.modal.animated,
.animated.fast {
 -webkit-animation-duration: .2s;
 animation-duration: .2s;
}
/*
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
*/
.fadeInDown {
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
}

.fadeIn {
 -webkit-animation-name: fadeIn;
 animation-name: fadeIn;
}

.mt10 {
 margin-top: 10px;
}

.pointer {
 cursor: pointer;
}

.block {
 display: block;
}

.detail-sources {
 text-overflow: ellipsis;
 overflow: hidden;
 word-wrap: break-word;
}

.modal {
 word-wrap: break-word;
}

.ellipsis {
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

::-webkit-scrollbar {
 width: 10px;
 height: 10px;
 background-color: #fff;
 box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar:hover {
 background-color: #eee;
}

::-webkit-scrollbar-thumb {
 min-height: 0.8em;
 min-width: 0.8em;
 background-color: rgba(0, 0, 0, .2);
 box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar-thumb:hover {
 background-color: #bbb;
}

::-webkit-scrollbar-thumb:active {
 background-color: #888;
}

.dropdown-menu.dropdown-right-click {
 display: block;
 position: static;
 margin-bottom: 5px;
 font-size: 1em;
}

.dropdown-menu.dropdown-right-click > li > a {
 padding: 5px 12px;
}

.dropdown-menu.dropdown-right-click > li > a > i {
 font-size: .9em;
 margin-right: 1px;
}

.dropdown-menu.dropdown-right-click .divider {
 margin: 3px 0;
}
/*-----------------FILE SEARCH----------------*/
#dr-file-search-sidebar {
 position: fixed;
 top: 51px;
 bottom: 51px;
 left: 0;
 z-index: 1001;
 display: block;
 padding: 0;
 overflow: hidden;
 background-color: #DDD;
 border-right: 2px solid #999;
}

#dr-file-search-sidebar .dr-header {
 position: absolute;
 width: 100%;
 top: 5px;
 left: 0;
 z-index: 1002;
 display: block;
 padding: 5px 0;
 overflow-x: hidden;
 background-color: #EEE;
}

#dr-file-search-sidebar .dr-body {
 position: absolute;
 width: 100%;
 top: 60px;
 bottom: 71px;
 left: 0;
 z-index: 1001;
 display: block;
 padding: 5px 0;
 overflow-x: hidden;
 overflow-y: auto;
}

#dr-file-search-sidebar .dr-footer {
 position: absolute;
 width: 100%;
 height: 70px;
 bottom: 0px;
 left: 0;
 z-index: 1001;
 display: block;
 padding: 5px 0;
 overflow: hidden;
 background-color: #E0E0E0;
}

#dr-file-search-middlebar {
 position: fixed;
 top: 51px;
 bottom: 51px;
 left: 0;
 display: block;
 padding: 5px 0;
 overflow: hidden;
 background-color: #EEE;
 border-right: 1px solid #AAA;
}

#dr-file-search-middlebar .dr-header {
 position: absolute;
 width: 100%;
 height: 150px;
 top: 5px;
 left: 0;
 z-index: 1002;
 display: block;
 padding: 5px 0;
 overflow: hidden;
 background-color: #EEE;
}

#dr-file-search-middlebar .dr-body {
 position: absolute;
 width: 100%;
 top: 150px;
 bottom: 0px;
 left: 0;
 z-index: 1001;
 display: block;
 padding: 5px 0;
 overflow-x: hidden;
 overflow-y: auto;
}
/* Menu */
.dr-folder-context-menu {
 z-index: 3000;
 position: absolute;
 list-style-type: none;
 background-color: #F7F7F7;
 box-shadow: 0 0 5px rgba(0, 0, 0, .15);
 width: 250px;
 border: 1px solid #AAA !important;

 li.title {
  padding: 5px 10px;
  font-size: 11px;
  color: rgba(0, 0, 0, .5);
  border-bottom: 1px solid rgba(0, 0, 0, .15);
 }

 .dr-separator {
  height: 1px;
  background-color: #CCC;
  width: 100%;
 }

 .dr-li-item {
  padding: 0;
  border-left: #EEE solid 3px;
  color: #333;

  > a {
   padding: 0;
   display: block;
   clear: both;
   font-weight: 400;
   line-height: 1.42857143;
   color: #333;
   white-space: nowrap;

   .dr-li-icon {
    padding-top: 4px;
    text-align: center;
    background-color: #FFF;
   }

   .dr-li-content {
    padding: 4px 5px 4px 5px;
    background-color: #F2F2F2;
   }
  }

  &.dr-disabled {
   pointer-events: none;

   > a {
    color: #999;

    .dr-li-content {
    }
   }
  }

  &:hover {
   border-left: $secondary-color solid 3px;
   color: #000;

   > a {

    .dr-li-icon {
     background-color: #EEE;
    }

    .dr-li-content {
     background-color: #DDD;
    }
   }
  }
 }
}

ul.dr-folder-context-menu li:last-of-type {
 border-bottom: 0;
}
/*
.fade-hide {
    opacity:1;
}
.fade-hide.fade-hide-active {
    opacity:0;
}
.fade-show {
    opacity:0;
}
.fade-show.fade-show-active {
    opacity:1;
}
*/
@media (min-width: 1200px) {
 .dr-modal {
  width: 1100px;
 }
}

@media (max-width: 1200px) {
 .dr-modal {
  width: 900px;
 }
}

@media (max-width: 992px) {
 .dr-floating-subheader {
  top: 160px;
 }

 .dr-inner-center {
  right: 0;
 }

 .dr-modal-dropdown {
  width: 600px;
 }

 #wrapper.toggled {
  padding-left: 60px;
 }

 .modal-fullscreen .modal-dialog {
  margin: 0;
  width: 100%;
 }

 .modal-fullscreen .modal-content {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
 }

 .modal-fullscreen textarea.code {
  min-height: 250px;
 }

 .dr-modal-lg .modal-dialog {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
 }

 .dr-modal-lg .dr-modal-scrollable {
  height: auto;
  bottom: 41px;
  left: 0;
  position: absolute;
  right: 0;
  top: 60px;
 }

 .dr-modal-lg .modal-footer {
  padding-top: 4px;
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: 0;
 }

 .dr-modal-lg .modal-dialog {
  margin: 0;
  width: 100%;
 }

 .dr-modal-lg .modal-content {
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  -o-box-shadow: inherit;
  box-shadow: inherit;
 }

 .dr-modal-lg textarea.code {
  min-height: 450px;
 }

 #dr-advanced-search-nav,
 #dr-advanced-search-detail,
 #dr-advanced-search-summary {
  position: relative;
 }

 #dr-advanced-search-nav {
 }

 #dr-advanced-search-detail {
 }

 #dr-advanced-search-summary {
 }
}


@media (max-width: 768px) {

 .dr-modal {
  width: auto;
 }

 .dr-modal-dropdown {
  width: auto;
  padding: 5px 2px;
  text-align: left;
 }
}
