<!-------- MAIN CONTENT -->
<div class="container-fluid">
    <div ng-include="'qfretouch/app/views/navbar.html'"></div>
    <div id="page-content-wrapper">
        <div class="sidebar-wrapper col-lg-2 col-md-2 col-sm-4 hidden-xs">
            <div class="dr-body sidebar" ng-include="'qfretouch/app/views/sidebar.html'">
            </div>
        </div>
        <div data-ui-view="content" class="main-wrapper col-lg-10 col-md-10 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-0">
        </div>
    </div>
    <div ng-if="false" class="loading-spiner-holder" data-loadin>
        <div class="loading-spiner">
            <div class="progress-container">
                <div class="progress">
                    <div class="progress-bar">
                        <div class="progress-shadow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'qfretouch/modules/folder/views/modals/create-folder-modal.html'"></div>
<div ng-include="'qfretouch/modules/folder/views/modals/edit-folder-modal.html'"></div>
<div ng-include="'qfretouch/modules/folder/views/modals/move-folder-modal.html'"></div>
<div ng-include="'qfretouch/modules/folder/views/modals/delete-folder-modal.html'"></div>
<div ng-include="'qfretouch/modules/folder/views/modals/folder-link-modal.html'"></div>
<div ng-include="'qfretouch/modules/folder/views/modals/folder-details-modal.html'"></div>
<div ng-include="'qfretouch/modules/folder/views/modals/upload-document-modal.html'"></div>
<div ng-include="'qfretouch/modules/document/views/modals/document-search-modal.html'"></div>
<!-- --------------------- HIDDEN THINGS---------------->

<div id="dr-path-popover-content" style="display: none">
    <div class="dr-breadcrumb flat dr-padding-none col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="" data-ng-click="folderManagers[documentsResultViewIndex].Content.goTo(-1)">
            <i class="glyphicon glyphicon-folder-open mr2"></i>
        </a>
        <a data-ng-repeat="(key, dir) in folderManagers[documentsResultViewIndex].Content.currentPath track by key"
           data-ng-click="folderManagers[documentsResultViewIndex].Content.goTo(key)">
            {{dir}}
        </a>
        <a class="" data-ng-click="folderManagers[documentsResultViewIndex].Content.upDir()">&crarr;</a>
    </div>
</div>

<div id="dr-add-popover-content" style="display: none">
    <a class="btn btn-link text-left col-lg-12 col-md-12">
        <i class="fa fa-folder-o"></i> New Folder
    </a>
    <a class="btn btn-link text-left col-lg-12 col-md-12"
       data-toggle="modal" data-target="#uploadfile"
       data-ng-click="smartClick(item)">
        <i class="fa fa-file-o"></i> New Document
    </a>
    <a class="btn btn-link text-left col-lg-12 col-md-12">
        <i class="fa fa-star-o"></i> To Favorites
    </a>
</div>

<div id="dr-view-popover-content" style="display:none">
    <ul class="nav nav-tabs col-lg-12">
        <li class="col-lg-12">
            <a>
                <i class="fa fa-folder-o"></i> New Folder
            </a>
        </li>
        <li class="col-lg-12">
            <a data-toggle="modal" data-target="#uploadfile" data-ng-click="smartClick(item)">
                <i class="fa fa-file-o"></i> New Document
            </a>
        </li>
        <li class="col-lg-12">
            <a>
                <i class="fa fa-star-o"></i> To Favorites
            </a>
        </li>
    </ul>
</div>

<div id="dr-search-popover-content" style="display:none">

</div>

<script type="text/javascript">
    $(document).ready(function () {

       //$(".dr-sidebar-collapse-body").height($("#sidebar-wrapper").height() - 130);
        /*

        function hideContainers() {
    if (window.matchMedia('(min-width: 960px)').matches) {
     $(".nav-container").show();
     $(".gb-close-right-nav").hide();
    } else {
     $("#gb-middle-nav-3").closest(".nav-container").hide();
     $("#gb-right-nav-3").closest(".nav-container").hide();
    }
   }
        $('#page-content-wrapper').split({ orientation: 'vertical', position: '15%' });
        $('#main-wrapper').split({ orientation: 'vertical', position: '70%' });
        $('#dr-open-modal-body').split({ orientation: 'vertical', position: '30%' });
  */
    });
</script>
<!-- END MAIN CONTENT -->