<div class="modal-header">
 <div class="qf-title">
  <p class="qf-truncate">
   <i class="fa fa-list"></i>
   {{componentSettingsCtrl.item.name}} - {{componentSettingsCtrl.item.component.label}}
  </p>
 </div>
 <md-button class="qf-close" ng-click="componentSettingsCtrl.close()">
  x
 </md-button>
</div>
<div class="modal-body" hm-swipe-right="componentSettingsCtrl.close()">
 <ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
   <a href="#qf-component-properties-tab" aria-controls="properties" role="tab" data-toggle="tab">
    Properties
   </a>
  </li>
  <li role="presentation" class="">
   <a href="#qf-component-design-tab" aria-controls="design" role="tab" data-toggle="tab">
    Design
   </a>
  </li>
  <li ng-show="$root.labs.enableComponentRules" role="presentation" class="">
   <a href="#qf-component-rules-tab" aria-controls="rules" role="tab" data-toggle="tab">
    Rules
   </a>
  </li>
  <li role="presentation" class="">
   <a href="#qf-component-templates-tab" aria-controls="templates" role="tab" data-toggle="tab">
    Templates
   </a>
  </li>
 </ul>
 <div class="tab-content">
  <br>
  <div role="tabpanel" class="tab-pane active" id="qf-component-properties-tab">
   <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-input-container ng-if="componentSettingsCtrl.item.component.label"
                        class="md-block" md-no-float>
     <input type="text" class="qf-component-name-input"
            ng-model="componentSettingsCtrl.item.component.label"   placeholder="Label">
    </md-input-container>
    <div ng-if="componentSettingsCtrl.item.component.required"
         class="checkbox qf-hidden-view-mode qf-required-checkbox">
     <label>
      <input type='checkbox' ng-model="componentSettingsCtrl.item.component.required" />
      Required
     </label>
    </div>
    <div class="checkbox qf-hidden-view-mode qf-required-checkbox">
     <label>
      <input type='checkbox' ng-model="componentSettingsCtrl.item.component.readonly" />
      Readonly
     </label>
    </div>
    <md-input-container ng-if="componentSettingsCtrl.item.component.id"
                        class="md-block" md-no-float>
     <input type="text" class=""
            ng-model="componentSettingsCtrl.item.component.id"   placeholder="Key">
    </md-input-container>
    <md-input-container ng-if="componentSettingsCtrl.item.component.rows"
                        class="md-block" md-no-float>
     <input type="number" class=""
            ng-model="componentSettingsCtrl.item.component.rows"   placeholder="Rows">
    </md-input-container>
    <md-input-container ng-if="componentSettingsCtrl.item.component.description"
                        class="md-block" md-no-float>
     <input type="text" class=""
            ng-model="componentSettingsCtrl.item.component.description"   placeholder="Description">
    </md-input-container>
    <textarea ng-if="componentSettingsCtrl.item.component.optionsText"
              ng-model="componentSettingsCtrl.item.component.optionsText"
              class="form-control" rows='5'
              placeholder="Options one per line"></textarea>
   </form>
  </div>
  <div role="tabpanel" class="tab-pane" id="qf-component-design-tab">
   <form class="row" ng-repeat="styleMap in componentSettingsCtrl.item.component.componentStylesMap">
    <h4>
     {{styleMap.controlName}}
    </h4>
    <md-input-container flex class="md-block" ng-repeat="controlStyleMap in styleMap.controlStyles">
     <input type="{{controlStyleMap.type}}"
            ng-model="controlStyleMap.value" value="{{controlStyleMap.value}}" placeholder="{{controlStyleMap.label}}">
    </md-input-container>
   </form>
  </div>
  <div role="tabpanel" class="tab-pane" id="qf-component-rules-tab">
   <section class="qf-box-1 row">
    <div class="qf-inline-title-action">
     <div class="qf-title">Initial Condition</div>
    </div>
    <div class="qf-section-body">
     <div class='checkbox' ng-repeat="option in componentSettingsCtrl.item.rules.initialConditionOptions">
      <label>
       <input type="checkbox" checklist-model="componentSettingsCtrl.item.rules.selectedInitialConditionOptions" checklist-value="option"> {{option.label}}
      </label>
     </div>
    </div>
   </section>
   <section class="qf-box-1 row">
    <div class="qf-inline-title-action">
     <div class="qf-title">Logical Rules</div>
     <md-button type="button" class="qf-action"
                ng-click="componentSettingsCtrl.openComponentRule()">
      <i class="fa fa-plus"></i>
     </md-button>
    </div>
    <div class="qf-section-body">
     <ul class="list-group">
      <li class="list-group-item"  ng-repeat="componentRule in componentSettingsCtrl.item.rules.componentRules"
          ng-click="componentSettingsCtrl.openComponentRule(componentRule)">
       <span class="tag tag-default text-success tag-pill pull-xs-right" ng-show="componentRule.active">Active</span>
       <span class="tag tag-default text-danger tag-pill pull-xs-right" ng-show="!componentRule.active">Inactive</span>
       <p class="qf-truncate">
        {{componentRule.summary}}
       </p>
      </li>
     </ul>
    </div>
   </section>
   <div role="tabpanel" class="tab-pane" id="qf-component-templates-tab">
    <form class="row">
     <div ng-repeat="formTemplate in designerCtrl.formSrv.formTemplates">
      <button type="button" ng-click="designerCtrl.formSrv.setFormTemplate(formTemplate)">
       {{formTemplate.formName}}
      </button>
     </div>
    </form>
   </div>
  </div>
 </div>