<div class="modal-header">
 <div class="qf-title">
  <p class="qf-truncate">

  </p>
 </div>
 <md-button class="qf-close" ng-click="componentRuleCtrl.close()">
  x
 </md-button>
</div>

<div class="modal-body">
 <div class="container">
  <md-input-container class="md-block">
   <input type="text"
          ng-model="componentRuleCtrl.componentRule.summary" placeholder="Rule Summary">
  </md-input-container>
  <section class="qf-box-1 row">
   <div class="qf-inline-title-action">
    <div class="qf-title">Criteria</div>
   </div>
   <div class="qf-section-body row qf-padding-none">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 qf-criteria-form">
     <form class="row">
      <div class="form-group row">
       <label class="control-label">
        Criterion Description
       </label>
       <input type="text" class="form-control"
              ng-model="componentRuleCtrl.criterion.description" placeholder="Criterion Description">
      </div>
      <div class="form-group row">
       <label class="control-label">
        Control
       </label>
       <select ng-options="formItem.component.id for formItem in componentRuleCtrl.formSrv.formItems" class="form-control"
               ng-model="componentRuleCtrl.criterion.control" />
       </select>
      </div>
      <div class="form-group row">
       <label class="control-label">
        Operator
       </label>
       <select ng-options="value.label for value in componentRuleCtrl.booleanOperators.options" class="form-control"
               ng-model="componentRuleCtrl.criterion.control" ng-init="componentRuleCtrl.criterion.control = componentRuleCtrl.booleanOperators.options[0]" />
       </select>
      </div>
      <md-button type="button" class="md-primary"
                 ng-click="componentRuleCtrl.addCriterion()">
       Add Criterion
      </md-button>
     </form>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
     <ul ui-sortable="sortableOptions" ng-model="componentRuleCtrl.componentRule.criteria"
         class="list-group">
      <li ng-repeat="criterion in componentRuleCtrl.componentRule.criteria track by $index"
          class="list-group-item">
       <div class="qf-sortable-drag-me qf-hidden-view-mode">
        <i class="fa fa-sort"></i>
       </div>
       <span class="tag tag-default tag-pill pull-xs-right" ng-show="criterion.active">Active</span>
       <span class="tag tag-default tag-pill pull-xs-right" ng-show="!criterion.active">Inactive</span>
       <p class="qf-truncate">
        {{criterion.description}}
       </p>
       <div ng-click="removeOption(option)"
            class="qf-sortable-delete qf-hidden-view-mode">
        <i class="fa fa-trash"></i>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </section>

  <section class="qf-box-1 row">
   <div class="qf-inline-title-action">
    <div class="qf-title">Actions</div>
   </div>
   <div class="qf-section-body row qf-padding-none">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 qf-action-form">
     <form class="form-horizontal">
      <div class="form-group row">
       <label class="control-label">
        Action Description
       </label>
       <input type="text" class="form-control"
              ng-model="componentRuleCtrl.action.description" placeholder="Action Description">
      </div>
      <div class="form-group row">
       <label class="control-label">
        Control
       </label>
       <select ng-options="formItem.component.id for formItem in componentRuleCtrl.formSrv.formItems" class="form-control"
               ng-model="component.inputText" ng-init="component.inputText = component.options[0]" />
       </select>
      </div>
      <div class="form-group row">
       <label class="control-label">
        Action
       </label>
       <select ng-options="value.label for value in componentRuleCtrl.actionInstructions.options"
               class="form-control"
               ng-model="componentRuleCtrl.actionInstructions.selected"
               ng-init="componentRuleCtrl.actionInstructions.selected = componentRuleCtrl.actionInstructions.options[0]" />
       </select>
      </div>
     </form>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
     <ul class="list-group">
      <li class="list-group-item"  ng-repeat="action in componentRuleCtrl.componentRule.actions"
          ng-click="componentSettingsCtrl.openComponentRule(componentRule)">
       <span class="tag tag-default tag-pill pull-xs-right" ng-show="componentRule.active">Active</span>
       <span class="tag tag-default tag-pill pull-xs-right" ng-show="componentRule.active">Inactive</span>
       <p class="qf-truncate">
        {{componentRule.summary}}
       </p>
      </li>
     </ul>
    </div>
   </div>
  </section>

  <section class="qf-box-1 row">
   <md-checkbox class="qf-primary" ng-model="componentRuleCtrl.componentRule.active" aria-label="Active">
    Active
   </md-checkbox>
  </section>
  <md-button type="button" class="md-primary md-raised"
             ng-click="componentRuleCtrl.ok()">
   Add
  </md-button>
 </div>
</div>
