<div class="modal-header">
 <div class="qf-title">
  <p class="qf-truncate">

  </p>
 </div>
 <md-button class="qf-close" ng-click="componentRuleCtrl.close()">
  x
 </md-button>
</div>
<div class="modal-body">
 <div class="container">
  <md-input-container class="md-block">
   <input type="text"
          ng-model="componentRuleCtrl.componentRule.summary" placeholder="Rule Summary">
  </md-input-container>
  <section class="qf-box-1 row">
   <div class="qf-inline-title-action">
    <div class="qf-title">Criteria</div>
   </div>
   <div class="qf-section-body row qf-padding-none">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 qf-criteria-form">
     <form class="row">
      <div class="form-group row">
       <label class="control-label">
        Criterion Description
       </label>
       <input type="text" class="form-control"
              ng-model="componentRuleCtrl.criterion.description" placeholder="Criterion Description">
      </div>
      <div class="form-group row">
       <label class="control-label">
        Control
       </label>
       <select ng-options="formItem.component.id for formItem in componentRuleCtrl.formSrv.formItems" class="form-control"
               ng-model="componentRuleCtrl.criterion.control" />
       </select>
      </div>
      <div class="form-group row">
       <label class="control-label">
        Operator
       </label>
       <select ng-options="value.label for value in componentRuleCtrl.booleanOperators.options" class="form-control"
               ng-model="componentRuleCtrl.criterion.operator" ng-init="componentRuleCtrl.criterion.operator = componentRuleCtrl.booleanOperators.options[0]" />
       </select>
       <div class="form-group row">
        <label class="control-label">
         Value
        </label>
        <input ng-show="componentRuleCtrl.criterion.control.name !== 'Dropdown'"
               type="text" class="form-control"
               ng-model="componentRuleCtrl.criterion.value" placeholder="Value">
        <select ng-show="componentRuleCtrl.criterion.control.name === 'Dropdown'"
                ng-options="value for value in componentRuleCtrl.criterion.control.component.options" class="form-control"
                ng-model="componentRuleCtrl.criterion.value" ng-init="componentRuleCtrl.criterion.value = componentRuleCtrl.criterion.control.component.options[0]" />
        </select>
       </div>
      </div>
      <div class="form-group row">
       <md-checkbox class="qf-primary" ng-model="componentRuleCtrl.criterion.active" aria-label="Criterion Active">
        Criterion Active
       </md-checkbox>
      </div>
      <md-button type="button" class="md-primary"
                 ng-click="componentRuleCtrl.addCriterion()">
       Add Criterion
      </md-button>
     </form>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
     <ul ui-sortable="componentRuleCtrl.sortableOptions" ng-model="componentRuleCtrl.componentRule.criteria"
         class="list-group qf-list-group-1">
      <li ng-repeat="criterion in componentRuleCtrl.componentRule.criteria track by $index"
          class="list-group-item">
       <div class="qf-sortable-drag-me">
        <i class="fa fa-sort"></i>
       </div>
       <div class="qf-list-item-content">
        <p class="qf-truncate">
         {{criterion.description}}
        </p>
        <i class="text-success" ng-show="criterion.active">Active</i>
        <i class="text-danger" ng-show="!criterion.active">Inactive</i>
       </div>
       <div class="qf-list-item-actions">
        <md-button class="" ng-click="componentRuleCtrl.editCriterion(criterion)">
         <i class="fa fa-pencil"></i>
        </md-button>
        <md-button class="" ng-click="componentRuleCtrl.removeCriterion(criterion)">
         <i class="fa fa-trash"></i>
        </md-button>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </section>

  <section class="qf-box-1 row">
   <div class="qf-inline-title-action">
    <div class="qf-title">Actions</div>
   </div>
   <div class="qf-section-body row qf-padding-none">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 qf-action-form">
     <form class="form-horizontal">
      <div class="form-group row">
       <label class="control-label">
        Action Description
       </label>
       <input type="text" class="form-control"
              ng-model="componentRuleCtrl.action.description" placeholder="Action Description">
      </div>
      <div class="form-group row">
       <label class="control-label">
        Control
       </label>
       <select ng-options="formItem.component.id for formItem in componentRuleCtrl.formSrv.formItems" class="form-control"
               ng-model="componentRuleCtrl.action.control" />
       </select>
      </div>
      <div class="form-group row">
       <label class="control-label">
        Instruction
       </label>
       <select ng-options="instruction.label for instruction in componentRuleCtrl.actionInstructions.options"
               class="form-control"
               ng-model="componentRuleCtrl.action.instruction"
               ng-init="componentRuleCtrl.action.instruction = componentRuleCtrl.actionInstructions.options[0]" />
       </select>
      </div>
      <div class="form-group row">
       <md-checkbox class="qf-primary" ng-model="componentRuleCtrl.action.active" aria-label="Action Active">
        Action Active
       </md-checkbox>
      </div>
      <md-button type="button" class="md-primary"
                 ng-click="componentRuleCtrl.addAction()">
       Add Action
      </md-button>
     </form>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
     <ul ui-sortable="componentRuleCtrl.sortableOptions" ng-model="componentRuleCtrl.componentRule.actions"
         class="list-group qf-list-group-1">
      <li ng-repeat="action in componentRuleCtrl.componentRule.actions track by $index"
          class="list-group-item">
       <div class="qf-sortable-drag-me">
        <i class="fa fa-sort"></i>
       </div>
       <div class="qf-list-item-content">
        <p class="qf-truncate">
         {{action.description}}
        </p>
        <i class="text-success" ng-show="action.active">Active</i>
        <i class="text-danger" ng-show="!action.active">Inactive</i>
       </div>
       <div class="qf-list-item-actions">
        <md-button class="" ng-click="componentRuleCtrl.editAction(action)">
         <i class="fa fa-pencil"></i>
        </md-button>
        <md-button class="" ng-click="componentRuleCtrl.removeAction(action)">
         <i class="fa fa-trash"></i>
        </md-button>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </section>

  <section class="qf-box-1 row">
   <md-checkbox class="qf-primary" ng-model="componentRuleCtrl.componentRule.active" aria-label="Active">
    Active
   </md-checkbox>
  </section>
  <md-button type="button" class="md-primary md-raised"
             ng-click="componentRuleCtrl.ok()">
   Add
  </md-button>
 </div>
</div>
