
<nav class="qf-navbar" role="navigation">
 <form class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
  <md-input-container class="md-block" md-no-float>
   <input type="text" class="qf-form-name-input" ng-model="designerCtrl.formName"   placeholder="Form Name">
  </md-input-container>
 </form>
 <div class="qf-flex-container col-lg-10 col-md-9 col-sm-8 col-xs-8">

  <div class="qf-container qf-action-btns">
   <md-button ng-click="designerCtrl.saveForm()" class="md-icon-button" aria-label="save" tooltip-class="qf-tooltip-1"
              tooltip-placement="bottom" uib-tooltip="Save Form"  tooltip-popup-delay="500">
    <i class="fa fa-save"></i>
   </md-button>
   <md-button ng-click="designerCtrl.previewForm()" class="md-icon-button" aria-label="preview" tooltip-class="qf-tooltip-1"
              tooltip-placement="bottom" uib-tooltip="Preview Form"  tooltip-popup-delay="500">
    <i class="fa fa-eye"></i>
   </md-button>
  </div>
 </div>
</nav>

<div class="qf-component-nav col-lg-2 col-md-3 col-sm-4 col-xs-4" role="navigation">
 <div qf-components template-url="qfretouch/common/views/templates/qf-components.tpl.html"></div>
</div>
<div class="qf-flex-container qf-designer-container col-lg-offset-2 col-md-offset-3 col-sm-offset-4 col-xs-offset-4 col-lg-10 col-md-9 col-sm-8 col-xs-8">
 <div class="qf-container qf-builder-container col-lg-5 col-md-6 col-sm-11 col-xs-11">
  <form class="row qf-form-properties">
   <md-input-container class="md-block" md-no-float>
    <input type="text" class="qf-title-input" ng-model="designerCtrl.formName"  placeholder="Form Name">
   </md-input-container>
   <md-input-container class="md-block" md-no-float>
    <input type="text" class="qf-description-input" ng-model="designerCtrl.formDescription"
           placeholder="Form Description">
   </md-input-container>
  </form>
  <div qf-builder="default" template-url="qfretouch/common/views/templates/qf-builder.tpl.html"></div>
  <div ng-if="false" class="panel-footer">
   <div class="checkbox">
    <label><input type="checkbox" ng-model="isShowScope" />
     Show scope
    </label>
   </div>
   <pre ng-if="isShowScope">{{form}}</pre>
  </div>
 </div>
</div>
<script type="text/ng-template" id="preview-form-modal.html">
 <div ng-include="'qfretouch/app/views/preview-form-modal.html'"></div>
</script>

