<ul class="dr-folder-context-menu">
    <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12"
        ng-class="{ 'dr-disabled': !appCtrl.configContent.canCreateFolders(node.FolderItem.model.FolderPermissions)}">
        <a class=""
           ng-click="appCtrl.prepareCreateFolder(node.FolderItem);  $event.stopPropagation();">
            <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <i class="fa fa-plus"></i>
            </div>
            <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                {{'New Folder' | translate}}
            </div>
        </a>
    </li>
    <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12"
        ng-class="{ 'dr-disabled': !appCtrl.configContent.canRenameFolders(node.FolderItem.model.FolderPermissions)}">
        <a class=""
           ng-click="appCtrl.prepareEditFolder(node.FolderItem);  $event.stopPropagation();">
            <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <i class="fa fa-edit"></i>
            </div>
            <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                {{'Rename' | translate}}
            </div>
        </a>
    </li>
    <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12"
           ng-class="{ 'dr-disabled': !appCtrl.configContent.canDeleteFolders(node.FolderItem.model.FolderPermissions)}">
        <a ng-click="appCtrl.prepareDeleteFolder(node.FolderItem); $event.stopPropagation();">
            <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <i class="text-danger fa fa-trash"></i>
            </div>
            <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                {{'Delete' | translate}}
            </div>
        </a>
    </li>
    <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12"
        ng-class="{ 'dr-disabled': !appCtrl.configContent.canMoveFolders(node.FolderItem.model.FolderPermissions)}">
        <a class=""
           ng-click="appCtrl.prepareMoveFolder(node.FolderItem); $event.stopPropagation();">
            <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <i class="fa fa-edit"></i>
            </div>
            <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                {{'Move Folder' | translate}}
            </div>
        </a>
    </li>
    <li role="separator" class="dr-separator dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a></a>
    </li>
    <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12"
        ng-class="{ 'dr-disabled': !appCtrl.configContent.canCreateDocuments(node.FolderItem.model.DocumentPermissions)}">
        <a class=""
           ng-click="appCtrl.prepareUploadDocument(node.FolderItem); $event.stopPropagation();">
            <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <i class="fa fa-upload"></i>
            </div>
            <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                {{'Add Document' | translate}}
            </div>
        </a>
    </li>
    <li role="separator" class="dr-separator dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a></a>
    </li>
    <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class=""
           ng-click="appCtrl.addFolderFavorite(node.FolderItem); $event.stopPropagation();">
            <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <i class="fa fa-star-o"></i>
            </div>
            <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                {{'Add To Favorites' | translate}}
            </div>
        </a>
    </li>
    <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class=""
           ng-click="appCtrl.prepareFolderLink(node.FolderItem); $event.stopPropagation();">
            <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <i class="fa fa-edit"></i>
            </div>
            <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                {{'Folder Link' | translate}}
            </div>
        </a>
    </li>
    <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class=""
           ng-click="appCtrl.addFolderFavorite(node.FolderItem); $event.stopPropagation();">
            <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <i class="fa fa-refresh"></i>
            </div>
            <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                {{'Refresh' | translate}}
            </div>
        </a>
    </li>
    <li ng-if="false" class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a ng-click="appCtrl.prepareFolderDetails(node.FolderItem); $event.stopPropagation();">
            <i class="fa fa-info"></i> {{'Details' | translate}}
        </a>
    </li>
</ul>