<div class="modal-header">
 <div class="qf-title">
  <p class="qf-truncate">
   <i class="qf-pre-icon fa fa-file"></i>
   Form Settings
  </p>
 </div>
 <md-button class="qf-close" ng-click="formSettingsCtrl.ok()">
  x
 </md-button>
</div>
<div class="modal-body" hm-swipe-right="formSettingsCtrl.close()">
 <ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
   <a href="#qf-form-properties-tab" aria-controls="properties" role="tab" data-toggle="tab">
    Properties
   </a>
  </li>
  <li role="presentation" class="">
   <a href="#qf-form-design-tab" aria-controls="design" role="tab" data-toggle="tab">
    Design
   </a>
  </li>
  <li role="presentation" class="">
   <a href="#qf-form-templates-tab" aria-controls="templates" role="tab" data-toggle="tab">
    Templates
   </a>
  </li>
  <li ng-show="$root.labs.enableComponentRules" role="presentation" class="">
   <a href="#qf-form-rules-tab" aria-controls="rules" role="tab" data-toggle="tab">
    Rules
   </a>
  </li>
  <li ng-if="false" role="presentation" class="">
   <a href="#qf-form-import-tab" aria-controls="import" role="tab" data-toggle="tab">
    Import
   </a>
  </li>
 </ul>
 <div class="tab-content">
  <br>
  <div role="tabpanel" class="tab-pane active" id="qf-form-properties-tab">
   <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-input-container class="md-block">
     <input type="text"
            ng-model="formSettingsCtrl.formSrv.formName"   placeholder="Form Name">
    </md-input-container>
    <md-input-container class="md-block">
     <input type="text"
            ng-model="formSettingsCtrl.formSrv.formDescription"  placeholder="Form Description">
    </md-input-container>
   </form>
  </div>
  <div role="tabpanel" class="tab-pane" id="qf-form-design-tab">
   <div class="qf-form-preview" gridster="designerCtrl.formSrv.viewerGridSettings">
    <ul class="">
     <li gridster-item="item.gridMap" ng-repeat="item in formSettingsCtrl.formSrv.formStylesMap.formItems track by $index"
         class="qf-component">
      <div qf-component template-url="{{item.templateUrl}}"
           index="{{$index}}"
           remove-component="designerCtrl.removeComponent"
           duplicate-component="designerCtrl.duplicateComponent"
           item="item"></div>
     </li>
    </ul>
   </div>
   <form ng-if="false" class="row">
    <md-input-container flex class="md-block" ng-repeat="styleMap in designerCtrl.formSrv.formStylesMap">
     <input type="{{styleMap.type}}"
            ng-model="styleMap.value" value="{{styleMap.value}}" placeholder="{{styleMap.label}}">
    </md-input-container>
    <div class="checkbox qf-hidden-view-mode qf-required-checkbox">
     <label>
      <input type='checkbox' ng-model="designerCtrl.formSrv.designGridSettings.resizable.enabled" />
      Enable Resizing
     </label>
    </div>
   </form>
  </div>
  <div role="tabpanel" class="tab-pane" id="qf-form-templates-tab">
   <form class="row">
    <div ng-repeat="formTemplate in designerCtrl.formSrv.formTemplates">
     <button type="button" ng-click="designerCtrl.formSrv.setFormTemplate(formTemplate)">
      {{formTemplate.formName}}
     </button>
    </div>
   </form>
  </div>
  <div role="tabpanel" class="tab-pane" id="qf-form-rules-tab">
   <section class="qf-box-1 row">
    <div class="qf-inline-title-action">
     <div class="qf-title">Logical Rules</div>
     <md-button type="button" class="qf-action"
                ng-click="formSettingsCtrl.openComponentRule()">
      <i class="fa fa-plus"></i>
     </md-button>
    </div>
    <div class="qf-section-body">
     <ul ui-sortable="componentRuleCtrl.sortableOptions" ng-model="formSettingsCtrl.formSrv.rules.componentRules"
         class="list-group qf-list-group-1">
      <li ng-repeat="componentRule in formSettingsCtrl.formSrv.rules.componentRules track by $index"
          class="list-group-item"
          ng-click="formSettingsCtrl.openComponentRule(componentRule)">
       <div class="qf-sortable-drag-me">
        <i class="fa fa-sort"></i>
       </div>
       <div class="qf-list-item-content">
        <p class="qf-truncate">
         {{componentRule.summary}}
        </p>
        <i class="text-success" ng-show="componentRule.active">Active</i>
        <i class="text-danger" ng-show="!componentRule.active">Inactive</i>
       </div>
       <div class="qf-list-item-actions">
        <md-button class="" ng-click="componentRuleCtrl.editCriterion(criterion)">
         <i class="fa fa-pencil"></i>
        </md-button>
        <md-button class="" ng-click="componentRuleCtrl.removeCriterion(criterion)">
         <i class="fa fa-trash"></i>
        </md-button>
       </div>
      </li>
     </ul>
    </div>
   </section>
  </div>
  <div role="tabpanel" class="tab-pane" id="qf-form-import-tab">
   <form class="row">
    <input type="url" ng-model="formSettingsCtrl.googleFormUrl"
           class="form-control">
    <md-button type="button" ng-click="formSettingsCtrl.formSrv.getGoogleForm(formSettingsCtrl.googleFormUrl)">
     Get Form
    </md-button>
    <md-button type="button" ng-click="formSettingsCtrl.previewData()">
     Get Form Responses
    </md-button>
   </form>
  </div>
 </div>
</div>
<div ng-if="false" class="modal-footer">
 <div class="qf-flex-container">
  <div layout="row" layout-align="center">
   <md-button class="qf-full md-raised md-hue-1 md-primary" ng-click="formSettingsCtrl.ok()">
    Save
   </md-button>
   <md-button class="qf-full md-raised md-hue-1" ng-click="formSettingsCtrl.close()">
    Close
   </md-button>
  </div>
 </div>
</div>
