<nav id="dr-header" class="navbar navbar-fixed-top">
    <div class="dr-padding-none">
        <div class="navbar-header col-lg-3 col-md-2 col-sm-2 col-xs-3">
            <a class="dr-menu-btn btn btn-link pull-left hidden-lg hidden-md visible-sm visible-xs">
                <i class="fa fa-bars fa-2x"></i>
            </a>
            <a class="dr-logo visible-lg visible-md hidden-sm hidden-xs" href="">
                <span id="logo"> <img src="qfretouch/styles/img/logo/doc-record-logo.png" alt="Doc Record"> </span>
            </a>
            <a class="dr-logo hidden-lg hidden-md visible-sm visible-xs" href="">
                <span id="logo"> <img src="qfretouch/styles/img/logo/doc-record-logo-icon.png" alt="Doc Record"> </span>
            </a>
        </div>
        <div id="dr-search-box" class="col-lg-6 col-md-8 col-sm-9 col-xs-8">
            <form ng-submit="appCtrl.textSearch()" class="row">
                <div class="btn-group dr-padding-none">
                    <input ng-model="appCtrl.searchModel.FullText" type="text" data-toggle="dropdown"
                           class="dropdown-toggle dr-search-input" placeholder="Search qfretouch">
                    <div class="dr-search-dropdown dropdown-menu dropdown-menu-left"
                         ng-click="$event.stopPropagation()">
                        <div class="dr-dropdown-header"
                             ng-show="appCtrl.searchHistory.length>0 && appCtrl.searchModel.FullText.length == 0">
                            <div class="dr-title col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                RECENT SEARCHES
                            </div>
                            <div class="dr-action col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <a class="btn btn-sm btn-link pull-right">
                                    Clear
                                </a>
                            </div>
                        </div>
                        <div class="dr-dropdown-header"
                             ng-show="appCtrl.searchModel.FullText.length > 0">
                            <div class="dr-title col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                TOP RESULTS
                            </div>
                            <div class="dr-title text-right col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                RELEVANCE
                            </div>
                        </div>
                        <div class="dr-no-data" ng-show="appCtrl.searchHistory.length==0 && appCtrl.searchModel.FullText.length == 0">
                            <p>
                                No Recent Searches
                            </p>
                        </div>
                        <div class="dr-dropdown-body">
                            <div ng-show="appCtrl.searchHistory.length>0 && appCtrl.searchModel.FullText.length == 0"
                                 ng-repeat="searchHistoryItem in appCtrl.searchHistory"
                                 class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <div class="panel-title row">
                                        <a role="button" data-toggle="collapse"
                                           data-parent="#dr-search-history-accordion"
                                           class="dr-expand-btn text-center btn btn-link col-lg-1 col-md-1 col-sm- col-xs-1"
                                           href="{{'#search-history-collapse-'+$index}}" aria-expanded="true" aria-controls="{{'search-history-collapse-'+$index}}">
                                            <i class="fa fa-caret-right"></i>
                                        </a>
                                        <a class="dr-content text-left col-lg-10 col-md-10 col-sm-9 col-xs-9">
                                            <strong>{{searchHistoryItem.type}}</strong><br />
                                            {{searchHistoryItem.description}}
                                        </a>
                                        <div class="dr-action btn-group col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                            <button type="button" class="btn btn-link pull-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-cog"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a>Open</a></li>
                                                <li><a>Edit</a></li>
                                                <li><a>Save</a></li>
                                                <li><a>Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="{{'search-history-collapse-'+$index}}" class="dr-panel-search-collapse panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <section class="row">
                                            <h4>Keyword</h4>
                                            <p>{{searchHistoryItem.searchModel.FullText}}</p>
                                        </section>
                                        <section class="row">
                                            <h4>Categories</h4>
                                            <div ng-repeat="searchCategory in appCtrl.searchModel.Categories">
                                                {{searchCategory.Name}},
                                            </div>
                                            <div ng-repeat="searchCategoryCommonField in appCtrl.searchModel.CategoriesCommonFields">
                                                <h6>{{searchCategoryCommonField.Name}}</h6>
                                                <p>{{searchCategoryCommonField.Value}}</p>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="appCtrl.searchModel.FullText.length > 0"
                                 ng-repeat="documentItem in appCtrl.folderManagers[appCtrl.searchTabIndex].Content.instantSearchDocumentList"
                                 class="row dr-search-result"
                                 ng-click="appCtrl.openDocument(documentItem)">
                                <div class="col-lg-10 col-md-8 col-sm-8 col-xs-8">
                                    <div class="dr-name dr-truncate">{{documentItem.model.Name}}</div>
                                    <div class="dr-description dr-truncate"><i>{{documentItem.model.Path}}</i></div>
                                </div>
                                <div class="dr-relevance col-lg-2 col-md-4 col-sm-4 col-xs-4">
                                    <div class="pull-right">100%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary" ng-click="appCtrl.textSearch()">
                    <i class="fa fa-search"></i>
                </a>
                <a class="btn btn-link" ng-click="appCtrl.prepareAdvancedSearch()">
                    <i class="dr-advanced-search-icon fa fa-search-plus hidden-lg hidden-md visible-sm visible-xs"></i> <span class="visible-lg visible-md hidden-sm hidden-xs">Advanced Search</span>
                </a>
            </form>
        </div>
        <div id="dr-username" class="col-lg-3 col-md-2 col-sm-1 col-xs-1">
            <div class="btn-group pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="dr-user-btn fa fa-user fa-2x hidden-lg hidden-md visible-sm visible-xs">
                    </i>
                    <span class="visible-lg visible-md hidden-sm hidden-xs">
                        {{appCtrl.userInfo.DisplayName}}<span class="caret"></span>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-lg hidden-md visible-sm visible-xs">
                        <a class="">
                            <i class="fa fa-user"></i> {{appCtrl.userInfo.DisplayName}}
                        </a>
                    </li>
                    <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class=""
                           ng-click="appCtrl.logout();  $event.stopPropagation();">
                            <i class="text-danger fa fa-power-off"></i> {{'Logout' | translate}}
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="dr-main-loading-progress progress-container" data-loading>
        <div class="progress">
            <div class="progress-bar">
                <div class="progress-shadow"></div>
            </div>
        </div>
    </div>
</nav>