<div class="modal-header">
 <div class="qf-title qf-truncate">
  <i class="fa fa-flask pull-left"></i>
  <p class="pull-left">
   QuickForm Laboratory
  </p>
 </div>
 <md-button class="qf-close" ng-click="qfLabCtrl.close()">
  x
 </md-button>
</div>

<div class="modal-body">
 <section class="qf-lab-heading">
  <h2 class="text-center">
   <span class="fa-stack fa-lg">
    <i class="fa fa-file-o fa-stack-2x"></i>
    <i class="fa fa-flask fa-stack-1x"></i>
   </span>
  </h2>
  <p class="text-center">
   QuickForm Labs are experimental, features that you can use.
  </p>
 </section>
 <section class="qf-lab-entry">
  <h4 class="qf-heading">
   Import From Google Forms
  </h4>
  <form class="row">
   <md-input-container class="md-block">
    <input type="url" ng-model="qfLabCtrl.googleFormUrl" placeholder="Google Form Url">
   </md-input-container>
   <md-button type="button" class="md-primary md-raised" ng-click="qfLabCtrl.formSrv.getGoogleForm(qfLabCtrl.googleFormUrl)">
    Get Form
   </md-button>
   <md-button type="button" class="md-primary md-raised" ng-click="qfLabCtrl.previewData()">
    Get Form Responses
   </md-button>
  </form>
 </section>
</div>
