<div id="dr-sidebar-accordion">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <div class="panel-title row">
                <a ng-if="false" class="dr-padding-none col-lg-12 col-md-12 col-sm-10 col-xs-10">
                    <div class="dr-truncate">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x dr-fa-back-icon"></i>
                            <i class="fa fa-folder fa-stack-1x dr-fa-front-icon"></i>
                        </span>
                        FOLDERS
                    </div>
                </a>
                <div class="dr-icons-toolbar btn-toolbar col-lg-12 col-md-12 col-sm-12 col-xs-12">                   
                    <a ng-click="appCtrl.prepareCreateFolder(appCtrl.currentFolder);  $event.stopPropagation();"
                       ng-class="{ 'dr-disabled': !appCtrl.configContent.canCreateFolders(appCtrl.currentFolder.model.DocumentPermissions)}"
                       class="btn btn-xs btn-link">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-outer fa-folder-o fa-stack-2x"></i>
                            <i class="fa fa-inner fa-plus fa-stack-1x"></i>
                        </span>
                    </a>
                    <a ng-click="appCtrl.prepareUploadDocument(appCtrl.currentFolder);  $event.stopPropagation();"
                       ng-class="{ 'dr-disabled': !appCtrl.configContent.canCreateDocuments(appCtrl.currentFolder.model.DocumentPermissions)}"
                       class="btn btn-xs btn-link">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-outer fa-files-o fa-stack-2x"></i>
                            <i class="fa fa-inner fa-plus fa-stack-1x"></i>
                        </span>
                    </a>
                    <a ng-click="appCtrl.prepareFolderLink(appCtrl.currentFolder);  $event.stopPropagation();"
                       ng-class="{ 'dr-disabled': !appCtrl.currentFolder}"
                       class="visible-lg visible-md hidden-sm hidden-xs btn btn-xs btn-link">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-outer fa-files-o fa-stack-2x"></i>
                            <i class="fa fa-inner fa-link fa-stack-1x"></i>
                        </span>
                    </a>
                    <a ng-click="appCtrl.folderUp(appCtrl.currentFolder.model.Id)"
                       class="btn btn-xs btn-link visible-lg hidden-md visible-sm visible-xs">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-outer fa-folder-o fa-stack-2x"></i>
                            <i class="fa fa-inner fa-arrow-up fa-stack-1x"></i>
                        </span>
                    </a>
                    <a ng-click="appCtrl.refreshFolder(appCtrl.currentFolder);  $event.stopPropagation();"
                       ng-class="{ 'dr-disabled': !appCtrl.currentFolder}"
                       class=" btn btn-xs btn-link visible-lg visible-md hidden-sm hidden-xs ">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-outer fa-folder-o fa-stack-2x"></i>
                            <i class="fa fa-inner fa-refresh fa-stack-1x"></i>
                        </span>
                    </a>
                    <div ng-class="{ 'dr-disabled': !appCtrl.currentFolder}"
                          class="btn-group pull-right">
                        <a class="btn btn-xs btn-link dropdown-toggle"
                           data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-2x fa-ellipsis-v"></i>
                        </a>
                        <ul class="dr-folder-context-menu dropdown-menu dropdown-menu-left">
                            <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                ng-class="{ 'dr-disabled': !appCtrl.configContent.canRenameFolders(appCtrl.currentFolder.model.FolderPermissions)}">
                                <a class=""
                                   ng-click="appCtrl.prepareEditFolder(appCtrl.currentFolder);  $event.stopPropagation();">
                                    <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        {{'Rename' | translate}}
                                    </div>
                                </a>
                            </li>
                            <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                ng-class="{ 'dr-disabled': !appCtrl.configContent.canDeleteFolders(appCtrl.currentFolder.model.FolderPermissions)}">
                                <a ng-click="appCtrl.prepareDeleteFolder(appCtrl.currentFolder); $event.stopPropagation();">
                                    <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <i class="text-danger fa fa-trash"></i>
                                    </div>
                                    <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        {{'Delete' | translate}}
                                    </div>
                                </a>
                            </li>
                            <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                ng-class="{ 'dr-disabled': !appCtrl.configContent.canMoveFolders(appCtrl.currentFolder.model.FolderPermissions)}">
                                <a class=""
                                   ng-click="appCtrl.prepareMoveFolder(appCtrl.currentFolder); $event.stopPropagation();">
                                    <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        {{'Move Folder' | translate}}
                                    </div>
                                </a>
                            </li>
                            <li role="separator" class="dr-separator dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a></a>
                            </li>
                            <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a class=""
                                   ng-click="appCtrl.addFolderFavorite(appCtrl.currentFolder); $event.stopPropagation();">
                                    <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        {{'Add To Favorites' | translate}}
                                    </div>
                                </a>
                            </li>
                            <li  class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12  hidden-lg hidden-md visible-sm visible-xs">
                                <a class=""
                                   ng-click="appCtrl.prepareFolderLink(appCtrl.currentFolder); $event.stopPropagation();">
                                    <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        {{'Folder Link' | translate}}
                                    </div>
                                </a>
                            </li>
                            <li class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12  hidden-lg hidden-md visible-sm visible-xs">
                                <a class=""
                                   ng-click="appCtrl.addFolderFavorite(node.FolderItem); $event.stopPropagation();">
                                    <div class="dr-li-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <i class="fa fa-refresh"></i>
                                    </div>
                                    <div class="dr-li-content col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        {{'Refresh' | translate}}
                                    </div>
                                </a>
                            </li>
                            <li ng-if="false" class="dr-li-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a ng-click="appCtrl.prepareFolderDetails(appCtrl.currentFolder); $event.stopPropagation();">
                                    <i class="fa fa-info"></i> {{'Details' | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="dr-sidebar-folders-collapse" class="">
            <div class="panel-body dr-sidebar-collapse-body">
                <div class="dr-folder-row dr-divder visible-lg hidden-md visible-sm visible-xs"
                     ng-click="appCtrl.openWorkflow()"
                     data-context-event="contextmenu"
                     data-context-menu="qfretouch/app/views/context-menus/folder-context-menu.html">
                    <a class="btn btn-link dr-truncate">
                        <i class="dr-fa-faded fa fa-list"></i> Workflow
                    </a>
                </div>
                <div class="dr-folder-row dr-divider visible-lg hidden-md visible-sm visible-xs"
                     ng-click="appCtrl.selectTreeNode(node, selected, $parentNode, $index, $first, $middle, $last, $odd, $even)"
                     data-context-event="contextmenu"
                     data-context-menu="qfretouch/app/views/context-menus/folder-context-menu.html">
                    <a class="btn btn-link dr-truncate">
                        <i class="dr-fa-faded fa fa-star"></i> Favorites
                    </a>
                </div>
                <div ng-repeat="folderTree in appCtrl.folderManagers[appCtrl.mainTabIndex].Content.folderTree" treecontrol=""
                     class="tree-classic dr-tree visible-lg visible-md hidden-sm hidden-xs"
                     tree-model="folderTree"
                     options="appCtrl.treeOptions"
                     expanded-nodes="appCtrl.folderManagers[appCtrl.mainTabIndex].Content.expandedNodes"
                     on-selection="appCtrl.selectTreeNode(node, selected, $parentNode, $index, $first, $middle, $last, $odd, $even)"
                     on-node-toggle="appCtrl.toggleTree(node, expanded, $parentNode, $index, $first, $middle, $last, $odd, $even)">

                    <span data-context-event="contextmenu"
                          data-context-menu="qfretouch/app/views/context-menus/folder-context-menu.html">
                        <i class="dr-fa-faded fa fa-folder"></i> {{(node.Name.split('/').pop() || '/') | strLimit : 24}}
                    </span>
                </div>

                <div ng-repeat="node in appCtrl.folderManagers[appCtrl.mainTabIndex].Content.folderList"
                     class="dr-folder-row hidden-lg hidden-md visible-sm visible-xs"
                     data-context-event="contextmenu"
                     data-context-menu="qfretouch/app/views/context-menus/folder-context-menu.html">
                    <a ng-click="appCtrl.selectFolderRow(node)"
                       class="btn btn-link dr-truncate">
                        <i class="dr-fa-faded fa fa-folder"></i> {{node.model.Name}}
                    </a>
                </div>


                <div ng-if="false" class="dr-file-browser">
                    <div id="grid1" ui-grid="appCtrl.folderBrowserGridOptions" ui-grid-tree-view class="grid"
                         style="height: 100%;"
                         ui-grid-selection
                         ui-grid-edit>
                    </div>
                </div>

                <div ng-if="false" class="dr-file-browser"
                     style="width: 100%; padding: 3px;">
                    <div style="border: 1px solid darkgrey; margin-bottom: 2px; background-color: white;"> &nbsp; {{selectedFile}}</div>
                    <div style="width: 100%; height: 400px;"
                         ag-grid="appCtrl.gridOptions"
                         class="ag-file-browser">
                    </div>
                </div>

                <div ng-if="false" class="btn-group pull-right">
                    <a class="dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
                        <i class="dr-faded-icon fa fa-ellipsis-v"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="">
                            <a data-ng-click="createSubfolder(item)"
                               title="{{'New Folder' | translate}}">
                                <i class="fa fa-plus"></i> {{'New Folder' | translate}}
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="modal" data-target="#rename" data-ng-click="touch(item.FolderItem)" title="{{'Rename Folder' | translate}}">
                                <i class="fa fa-edit"></i> {{'Rename Folder' | translate}}
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="modal" data-target="#delete" data-ng-click="touch(item.FolderItem)" title="{{'Delete Folder' | translate}}">
                                <i class="text-danger fa fa-trash-o"></i> <span class="text-danger">{{'Delete Folder' | translate}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title row">
                <a class="collapsed dr-padding-none col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="dr-truncate">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x dr-fa-back-icon"></i>
                            <i class="fa fa-search fa-stack-1x dr-fa-front-icon"></i>
                        </span>
                        CUSTOM SEARCHES
                    </div>
                </a>
            </div>
        </div>
        <div id="dr-sidebar-searches-collapse" class="panel-collapse collapse">
            <div class="panel-body dr-sidebar-collapse-body">
                <ul class="dr-pane-header nav dr-nav-tabs-4">
                    <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a class="active" href="#dr-searches-custom-tab" data-toggle="tab">
                            <i class="fa fa-eye hidden-lg hidden-md hidden-sm visible-xs"></i> <span class="visible-lg visible-md visible-sm hidden-xs">Public</span>
                        </a>
                    </li>
                    <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="#dr-searches-saved-tab" data-toggle="tab">
                            <i class="fa fa-history hidden-lg hidden-md hidden-sm visible-xs"></i> <span class="visible-lg visible-md visible-sm hidden-xs">Private</span>
                        </a>
                    </li>
                </ul>
                <div class="dr-pane-body tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12 dr-padding-none">
                    <div class="tab-pane" id="dr-searches-custom-tab">
                        <div class="alert alert-info">
                            <p>
                                No Custom Search to show
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane active" id="dr-searches-saved-tab">
                        <div ng-show="appCtrl.searchHistory.length==0" class="alert alert-info">
                            <p>
                                No Saved Searches to show
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>