<div class="dr-sidebar-header">
    <div class="col-lg-9">
        <h4 class="dr-truncate">Search Summary</h4>
    </div> 
    <button type="button"
            class="col-lg-3 btn btn-default"
            ng-click="appCtrl.documentsResultViewIndex=appCtrl.mainTabIndex">
        <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-home fa-stack-1x fa-inverse"></i>
        </span>
    </button>
</div>
<div class="dr-sidebar-body">
    <section class="row">
        <h4>Keyword</h4>
        <p>{{appCtrl.searchModel.FullText}}</p>
    </section>
    <section class="row">
        <h4>Categories</h4>
        <div ng-repeat="searchCategory in appCtrl.searchModel.Categories">
            {{searchCategory.Name}}, 
        </div>
        <div ng-repeat="searchCategoryCommonField in appCtrl.searchModel.CategoriesCommonFields">
            <h6>{{searchCategoryCommonField.Name}}</h6>
            <p>{{searchCategoryCommonField.Value}}</p>
        </div>
    </section>
</div>
